<template>
    <div class="calendar-week">
        <table>
            <tr>
                <td class="calendar-week__day">
                    <div class="day-name">&nbsp;</div>
                    <div class="day-name">&nbsp;</div>
                </td>
                <td class="calendar-week__day"
                    v-for="(day, index) in days" :key="index">
                    <div class="today" v-if="day.isToday">

                    </div>
                    <div class="day-name">{{day.d}}</div>
                    <div class="day-name">{{dates[index]}}</div>

                </td>
            </tr>
            <tr v-for="n in 10" :key="n">
                <td class="time">
                    {{n+7}}
                </td>
                <td class="time" v-for="n in days.length" :key="n">
                    _
                </td>
            </tr>
        </table>


    </div>
</template>
<script>
	import moment from 'moment'

	export default {
		name: 'CalendarWeek',
		components: {
			Notification
		},
		data() {
			return {
				days: [],
				dates: [],
				week: ''

			}
		},
		mounted() {
			this.calculateWeekCalendar()
		},
		methods: {
			calculateWeekCalendar() {
				let currentDate = moment();
				let weekStart = currentDate.clone().startOf('week');
				let weekEnd = currentDate.clone().endOf('week');
				let dates = [];
				let days = [];
				for (let i = 0; i <= 6; i++) {
					days.push({
						d: moment(weekStart).add(i, 'days').format("dd"),
						isToday: moment(weekStart).add(i, 'days').isSame(new Date(), "day")
					});
					dates.push(moment(weekStart).add(i, 'days').format("MMM Do"));
				}
				this.$data.days = days;
				this.$data.dates = dates;
				this.$data.week = `${weekEnd.format('Do')}`;
			}
		}
	}

</script>
<style lang="scss">
    @import "../../../sass/variables";

    .list-item {
        display: inline-block;
        margin-right: 10px;
    }

    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to
        /* .list-leave-active for <2.1.8 */

    {
        opacity: 0;
        transform: translateY(-30px);
    }

    .calendar-week {
        display: flex;

        table {
            width: 100%;
        }

        .time {
            border: solid .5px;
            min-height: 40px;
            text-align: center;
            align-items: center;
        }

        .calendar-week__day {
            padding: 2px 0px;
            flex: 1;
            text-align: center;
            position: relative;


            .today {
                background: $app-green;
                width: 100%;
                height: 10px;
                position: absolute;
                top: -10px;
            }
        }
    }


</style>
