<template>
    <footer class="section is-medium">
        <div class="container">
            <div class="columns ">
                <div class="column is-5 is-4-widescreen">
                    <br/>
                    <ul class="level">
                        <li class="level-item" v-bind:class="{ active: $i18n.locale == 'fr' }"><a
                                @click="setLang('fr')">Français</a></li>
                        <li class="level-item" v-bind:class="{ active: $i18n.locale == 'ar' }"><a
                                @click="setLang('ar')">العربية (tunisie)</a></li>
                        <!--    <li class="level-item" v-bind:class="{ active: $i18n.locale == 'en' }"><a
                                    @click="setLang('en')">English</a></li> -->
                    </ul>
                    <hr class="spacer is-1">
                    <div class="summary">
                        <p> Keedo app for teachers, students and parents. </p>
                        <div>

                            {{year}} © Keedo , a <a href="https://www.380squares.xyz" target="_blank"> 380squares </a>
                            product
                        </div>
                    </div>
                </div>
                <div class="column is-7 is-6-widescreen is-offset-2-widescreen">
                    <div class="columns is-rtl">
                        <div class="column is-4">
                            <div class="menu"><p class="menu-label"> {{$t('footer.links.product')}} </p>
                                <ul class="menu-list">
                                    <li><a href="/school">{{$t('footer.links.class_management')}} </a></li>
                                    <li><a href="/library">{{$t('footer.links.planning')}}</a></li>
                                    <li><a href="/library" class="is-rtl">{{$t('footer.links.library')}} <span
                                            class="tag is-warning is-micro is-uppercase">{{$t('common.soon')}}</span></a></li>
                                    <li><a href="/activities" class="is-rtl">{{$t('footer.links.activities')}} <span
                                            class="tag is-warning is-micro is-uppercase">{{$t('common.soon')}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="menu"><p class="menu-label"> {{$t('footer.links.company')}} </p>
                                <ul class="menu-list">

                                    <li>
                                        <a class="has-text-black"
                                           href="mailto:fathallah.houssem@gmail.com?subject=[KEEDO] Contact us">
                                            {{$t('footer.links.contact')}}</a>
                                    <li>
                                        <router-link v-bind:to="'/tos'">{{$t('footer.links.legal')}}</router-link>
                                    </li>
                                    <li>
                                        <router-link v-bind:to="'/faq'">{{$t('footer.links.faq')}}</router-link>
                                    </li>
                                    <li>
                                        <router-link v-bind:to="'/faq'">{{$t('footer.links.support')}}</router-link>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="menu"><p class="menu-label"> {{$t('footer.links.social')}} </p>
                                <ul class="menu-list">

                                    <li><a href="https://twitter.com/keedo" target="_blank"> Twitter</a>
                                    </li>
                                    <li><a href="https://gitlab.com/keedo" target="_blank"> Gitlab</a>
                                    </li>

                                    <li>
                                        <router-link v-bind:to="'/blog'">{{$t('footer.links.blog')}}</router-link>
                                    </li>
                                    <li class="is-flex is-horizontal">
                                        <a href="https://facebook.com/keedo" target="_blank"> Facebook</a> <span
                                            class="separator">/</span> <a
                                            href="https://linkedin.com/keedo" target="_blank"> Linkedin</a>
                                    </li>
                                    <li>
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</template>

<script>

	export default {
		name: 'Footer',
		data: () => {
			return {
				year: (new Date()).getFullYear()
			}
		},
		methods: {
			setLang(locale) {
				this.$root.$i18n.locale = locale;
				localStorage.setItem('LOCALE', locale);
			}
		}


	}
</script>

<style lang="scss">
    footer {
        .menu-label {

            margin-left: 1em;
        }

        .separator {
            margin: .5em;
        }

        .is-micro {
            padding: 4px;
            font-size: 10px;
        }
    }

</style>
