<template>
    <header class="app-header">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <router-link class="brand has-text-primary has-text-weight-bold" v-bind:to="'/'">Keedo</router-link>
                    </div>
                    <div class="navbar-burger burger" data-target="mainNav"><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="navbar-menu" id="mainNav">
                    <div class="navbar-end ">

                        <!--    <a href="/" class="navbar-item">Schools</a>
                            <a href="/" class="navbar-item">Teachers</a>
                            <a href="/" class="navbar-item">Parents</a>
                            <a href="/library" class="navbar-item">
                                <span class="has-text-warning">Activities</span>
                            </a>
    -->
                        <a href="/#features" class="navbar-item">
                            <span class="has-text-primary">{{ $t("header.features") }}</span>
                        </a>
                        <a href="/#demo" class="navbar-item">
                            <span class="has-text-primary">{{ $t("header.demo") }}</span>
                        </a>
                        <router-link class="navbar-item" v-bind:to="'/accounts/login'">{{ $t("login.login") }}
                        </router-link>

                        <router-link class="navbar-item" v-bind:to="'/accounts/register'">{{ $t("login.register") }}
                        </router-link>

                    </div>
                </div>
            </div>
        </nav>
    </header>

</template>

<script>

	export default {
		name: 'Header'
	}
</script>

<style lang="scss">

    //Cloned fixed navbar
    #navbar-clone {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        transform: translateY(-100%);
        z-index: 100;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

        &.is-active {
            transform: translateY(0);
        }
    }

    .navbar {
        background-color: white !important;

        .brand-icon {
            width: 100px;
            height: 39px;

        }

        .navbar-nav {
            a {
                color: blue;
            }
        }

    }
</style>
