<template>
    <footer class="footer  mini-footer">
        <div class="container has-text-centered">

            <div class="is-pulled-left">
                {{year}} © Keedo , a <a href="https://www.380squares.xyz" target="_blank"> 380squares </a>
                product
            </div>
            <ul class="">
                <li class="level-item" v-bind:class="{ active: $i18n.locale == 'fr' }"><a
                        @click="setLang('fr')">Français</a></li>
                <li class="level-item" v-bind:class="{ active: $i18n.locale == 'ar' }"><a
                        @click="setLang('ar')">العربية (tunisie)</a></li>
                <!--    <li class="level-item" v-bind:class="{ active: $i18n.locale == 'en' }"><a
                            @click="setLang('en')">English</a></li> -->
            </ul>
        </div>
    </footer>
</template>
<script>
	export default {
		data: () => {
			return {
				year: (new Date()).getFullYear()
			}
		},
		methods: {
			setLang(locale) {
				this.$root.$i18n.locale = locale;
				localStorage.setItem('LOCALE', locale);
			}
		}
	}

</script>
<style lang="scss">
    @import "../../sass/variables";

    .mini-footer {
        padding: .2rem;
        background-color: $app-green;

        ul {
            list-style: inline;

            li {
                display: inline;
                padding: 2px 10px;

                a {
                    color: white;
                    cursor: pointer;
                }

            }
        }
    }
</style>
