<template>
    <section id="under_construction" class="hero is-medium is-fullheight">
        <div class="container has-text-centered">
            <h4 class="title is-5 mt-2">{{ $t("common.notfound_or_under_construction") }}

            </h4>
            <router-link v-bind:to="'/'" class="has-text-primary">{{ $t("common.home") }}</router-link>
            <div>
                <img src="/illustrations/undraw_under_construction_46pa.svg"/>
                <div></div>

            </div>
        </div>
        <mini-footer></mini-footer>
    </section>
</template>

<script>
	import MiniFooter from "./MiniFooter";

	export default {
		components: {MiniFooter}
	}

</script>
<style lang="scss">
    #under_construction {
        img {
            width: 500px;
        }

    }
</style>
