<template>
    <div>
        <div class="columns" v-if="!accountCreated">
            <!-- login form -->
            <form v-on:submit.prevent="onSubmit">
                <div class="field">
                    <div class="field">
                        <div class="field-body">
                            <fg-input type="text"
                                      :label="$t('register.firstName')"
                                      :placeholder="$t('register.firstName')"
                                      v-model="user.firstName">
                            </fg-input>
                            <fg-input type="text"
                                      :label="$t('register.lastName')"
                                      :placeholder="$t('register.lastName')"
                                      v-model="user.lastName">
                            </fg-input>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-body">
                        <fg-input type="email"
                                  :label="$t('register.email')"
                                  :placeholder="$t('register.email')"
                                  v-model="user.email">
                        </fg-input>
                        <fg-input type="text"
                                  :label="$t('register.re_email')"
                                  :placeholder="$t('register.re_email')"
                                  v-model="user.re_email">
                        </fg-input>
                    </div>
                </div>


                <div class="field">
                    <div class="field-body">
                        <fg-input type="password"
                                  :label="$t('register.password')"
                                  :placeholder="$t('register.password')"
                                  v-model="user.password">
                        </fg-input>
                        <fg-input type="password"
                                  :label="$t('register.rePassword')"
                                  :placeholder="$t('register.password')"
                                  v-model="user.re_password">
                        </fg-input>
                    </div>
                </div>

                <div class="field">
                    <!--   <div>

                         <label class="has-text-left label">
                             {{$t('register.country')}}
                         </label>
                     </div>

                     <div class="field-body">
                           <fg-radio :values="[{ value : 'fr', label : 'France' }, { value : 'Tn', label : 'Tunisia' }]"
                                     :name="'country'"
                                     v-model="country">
                           </fg-radio>
                       </div>-->
                    <!--<div class="row">
                        <div class="col-md-12">
                            <fg-input type="text"
                                      :label="$t('register.address')"
                                      :placeholder="$t('register.address')"
                                      v-model="address">
                            </fg-input>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <fg-input type="text"
                                  :label="$t('register.city')"
                                  :placeholder="$t('register.city')"
                                  v-model="city">
                        </fg-input>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <fg-input type="text"
                                  :label="$t('register.zipCode')"
                                  :placeholder="$t('register.zipCode')"
                                  v-model="zipCode">
                        </fg-input>
                    </div>-->
                </div>

                <div class="field">
                    <input type="checkbox"
                           v-model="user.tos"/>
                    <router-link class="" v-bind:to="'/tos'">&nbsp;&nbsp;{{ $t("register.tos") }}</router-link>
                </div>
                <div class="has-text-centered">
                    <button type="submit"
                            :disabled="!(user.email && user.re_email && user.lastName && user.firstName && user.tos && user.password && user.re_email)"
                            v-bind:class="'button is-primary' + loading">
                        {{ $t("register.createAccount") }}
                    </button>
                </div>
                <div class="field has-text-centered m-1">
                    <router-link class="is-margin-auto" v-bind:to="'/accounts/login'">{{ $t("register.login") }}
                    </router-link>
                </div>

                <!-- errors -->
                <div v-if="response" class="has-text-centered p-1"><p class="has-text-danger">{{response}}</p></div>
            </form>

        </div>
        <div class="is-d-inline-block has-text-centered" v-if="accountCreated">
            <p class="has-text-success  p-1">
                {{ $t("register.accountCreated") }}
            </p>
            <router-link class="is-margin-auto" v-bind:to="'/accounts/login'">{{ $t("register.login") }}
            </router-link>
        </div>
    </div>
</template>
<script>
	import api from './../../api/accounts'
	import COMMIT_TYPES from "../../store/commitTypes";

	export default {
		name: 'RegisterForm',
		data() {
			return {
				section: 'Register',
				accountCreated: false,
				loading: false,
				response: null,
				user: {
					loading: '',
					username: '',
					lastName: '',
					firstName: '',
					email: '',
					re_email: '',
					password: '',
					response: '',
					tos: '',
					zipCode: '',
					city: '',
					country: '',
					address: '',
					re_password: '',
				}

			}
		},
		methods: {
			onSubmit(event) {
				event.stopImmediatePropagation();
				event.preventDefault();
				this.toggleLoading();
				this.resetResponse();
				this.$store.commit('TOGGLE_LOADING');
				let data = JSON.parse(JSON.stringify(this.user));
				delete data['sidebarStore'];
				/* Making API call to authenticate a user */
				api
						.register(data)
						.then(response => {
							this.toggleLoading()

							let data = response.data;
							/* Checking if error object was returned from the server */
							if (data.ok) {
								this.accountCreated = true;
								return;
							}
							this.response = this.$t('server.error');
						})
						.catch(error => {
							this.$store.commit(COMMIT_TYPES.TOGGLE_LOADING);

							this.response = this.$t('server.error')
							this.toggleLoading()
						});
				return false;
			},
			toggleLoading() {
				this.loading = this.loading === '' ? this.$t('app.loading') : ''
			},
			resetResponse() {
				this.response = ''
			}
		}
	}
</script>
