<template>
    <div>
        <app-header></app-header>
        <section class="hero">
            <fr v-if="$i18n.locale == 'fr'"></fr>
            <ar v-if="$i18n.locale == 'ar'"></ar>
        </section>
        <app-footer></app-footer>
    </div>


</template>

<script>
	import AppFooter from "./Footer";
	import Ar from "./tos/ar";
	import Fr from "./tos/fr";
	import AppHeader from './Header'

	export default {
		components: {AppFooter, Ar, Fr, AppHeader}
	}

</script>
