<template>

    <!--Stats cards-->
    <div v-if="!loading">
        <div class="box no-shadow">
            <div v-if="!refreshList">
                <div v-if="dataTable.data.length">
                    <paper-table :viewUrl="'/admin/schools/'"
                                 :idKey="'_id'"
                                 :title="dataTable.title"
                                 :sub-title="dataTable.subTitle"
                                 :data="dataTable.data"
                                 :columns="dataTable.columns">

                    </paper-table>
                </div>
            </div>
            <div v-else>
                <div class="has-text-centered">
                    <app-loader></app-loader>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="has-text-centered">
            <app-loader></app-loader>
        </div>
    </div>
</template>
<script>
	import api from '../../../../api/admin/teachers-requests'
	import PaperTable from '../../../UIComponents/PaperTable.vue'

	export default {
		name: 'TeachersRequestsList',
		components: {
			PaperTable
		},
		data() {
			return {
				classExists: false,
				creatingNew: false,
				dataTable: {
					title: this.$t('admin.teachers_requests.list.title'),
					columns: [
						{id: "school", label: this.$t('admin.Schools.list.table.header.name')},
						{id: "teacher", label: this.$t('admin.Schools.list.table.header.updated_at')}
					],
					data: []
				},
				loading: true,
				refreshList: false
			}
		},
		methods: {
			loadList() {
				this.refreshList = true;
				this.loading = true;
				api.list().then((response) => {
					response = response.data;
					if (response && response.ok) {
						this.dataTable.data = response.data.map(e => {
							e.school = e.school.name;
							e.teacher = e.teacher.email;
							return e;
						});
					}
				}).catch(err => {
					console.log(err);
				}).finally(() => {
					this.refreshList = false;
					this.loading = false;
				})
			}
		},
		mounted() {
			this.loadList();
		}
	}

</script>
<style>

</style>
