<template>
    <div>
        <h3 class="title is-3"> {{$t('student.overview.tasks')}}</h3>
        <div class="columns is-marginless">
            <div class="column is-3 app-mini-box" v-bind:key="e" v-for="e in tasks.slice(0,3)">
                {{e}}
            </div>
            <div class="column is-3">
                {{$t('common.voir_plus')}}
            </div>
        </div>
    </div>
</template>

<script>
	import api from '../../../../api/tasks'

	export default {
		name: "tasks",
		data() {
			return {
				tasks: [1, 3, 4, 5],
				isLoading: false,
				error: false
			}
		},

		mounted() {
			this.getTasks();
		},
		methods: {
			finishLoading(err) {
				this.isLoading = false;
				this.error = err;
			},
			getTasks() {
				api.list()
						.then(response => {
							this.tasks = response.data;
						}).catch(err => {
					this.finishLoading(err);

					// eslint-disable-next-line no-unused-vars
				}).finally(e => {

				})
			}
		}
	}
</script>

<style scoped>

</style>
