<template>
    <div class="app-search-container">
        <div class="app-search-header">
            <form role='form' action='#' method='post' v-on:submit.prevent="onSubmit($event)">
                <div class='form-inline app-search-header-container'>
                    <div class='form-group col-6'>
                        <label for='query-bar' class='sr-only'></label>
                        <input id="query-bar" type='text' class='form-control' placeholder='Enter search query..'
                               v-model="searchText"
                               name='query-bar'/>
                    </div>
                    <div class='form-group  col-6'>
                        <div class="dropdown w-100">
                            <button class="btn btn-default dropdown-toggle w-100 text-left " type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{$t('Filter')}}
                                <span class="caret float-right" ></span>
                            </button>
                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenu1">
                                <li v-for="item in select" class="m-1" :value='item._id' v-bind:key="item._id">
                                    <a href="#">{{item.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <button class="button submit">
                        {{$t('search')}}
                    </button>
                </div>
            </form>

        </div>
    </div>
</template>
<script>
    import api from '../../api/categories'

    export default {
        name: 'Search',
        mounted() {
            let q = this.$route.query.q;
            if (q) {
                this.$data.searchText = q;
                this.onSubmit();
            }
            api.list().then(data => {
                console.log(data);
                this.$data.select = data;
            });
        },
        methods: {
            onSubmit($event) {
                this.$emit('on-submit', this.$data.searchText);
                if ($event) {
                    $event.preventDefault();
                }
            }
        },
        data() {
            return {
                searchText: '',
                select: []
            }
        }
    }
</script>

<style lang="scss">

    .app-search-container {
        width: 100%;
        top: 0px;
        z-index: 500;
        .app-search-header {
            width: 80%;
            margin: auto;
            .app-search-header-container {
                border: solid 1px orange;
                padding: 9px;
                max-height: 68px;
                background-color: #f7f7f7;
                box-shadow: none;
                top: -10px;
                position: relative;
                margin-bottom: 10px !important;
                margin-top: 50px;
                border-radius: 50px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                @media only screen and (max-width: 600px) {
                    border-radius: 3px;
                    display: block;
                }
            }
            form {
                div.form-group {
                    flex: 1;
                    border-right: 1px solid #e9e9e9;
                    margin-top: 3px;
                    position: relative;
                    padding-left: 30px;
                    padding-right: 30px;
                    &:nth-last-child(2) {
                        border-right: 0;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    input, select {
                        width: 100%;
                        background: none;
                        border-radius: 0;
                        border: none
                    }

                }
                button.submit {
                    background: none;
                    border: none;
                    &:focus {
                        background: none;
                    }
                    color: white;
                    background: orange;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 0 40px;
                    margin-right: 1px;
                    height: 50px;
                    outline: 0;
                    display: inline-block;
                    border-radius: 50px;
                }
            }
        }
    }
</style>
