.is-arabic {
  & {
    font-family: 'Tajawal', sans-serif;
  }

  .navbar .container {

    .navbar-end {
      direction: rtl;
    }
  }

  #app_welcome_container {
    .hero-body {
      direction: rtl;
    }
  }

  #student_dashboard, #teacher_dashboard {
    direction: rtl;
  }

  #pricing, #about, .is-rtl {
    direction: rtl;
  }

  .field {
    .label {
      text-align: right !important;
    }
  }
}
