@import "variables";

$sizes: (0, 1, 2, 3, 4, 5, 6, 7, 8);
$positions: ('top', 'left', 'bottom', 'right');

@each $size in $sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$size} {
      margin-#{$position}: $size + rem;
    }
    .m#{str-slice($position, 0, 1)}-#{$size}5 {
      margin-#{$position}: ($size + .5) + rem;
    }
    .p#{str-slice($position, 0, 1)}-#{$size} {
      padding-#{$position}: $size + rem;
    }
    .p#{str-slice($position, 0, 1)}-#{$size}5 {
      padding-#{$position}: ($size + .5) + rem;
    }
    .p-#{$size} {
      padding: $size + rem;
    }
    .m-#{$size} {
      margin: $size + rem;
    }
  }
}

.is-d-inline-block {
  display: inline-block;
}

.badge {
  margin: 0;
  padding: 8px 16px;
  line-height: 15px;
  letter-spacing: 2.5px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid $app-color;
  color: $app-color;
  font-size: 10px;
  font-weight: 500;
  position: relative;
  top: -6px;
  margin-right: 8px;
}
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}
.tabs {
  .is-active {
    border-bottom: solid 4px blue;
  }
}

#tabs-with-content .tab-content.is-active {
  display: block;
}
