$app-color: #ED6500;
$border-radius-base: 3px;
$success-states-color: #ED6500;
$bg-info: #ED6500;
$info-states-color: #ED6500;
$bg-success: #ED6500;
$success-states-color: #ED6500;
$bg-danger: #ED6500;
$danger-states-color: #ED6500;
$bg-warning: #ED6500;
$info-states-color: #ED6500;
$warning-states-color: #ED6500;
$app-green: rgb(13, 181, 175);
