@import "./common";
@import "./ar";

body {
  font-family: 'Baloo Da 2', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

}

.is-margin-auto {
  margin: auto;
}

.account-container {
  background-image: url('/img/account-bg.jpg');
  min-height: calc(100vh - 2rem);
}


#app {
  min-height: 100vh;
  flex-direction: column;
}
