<template>
    <div>
        <app-header></app-header>
        <div class="dashboard-container">
            <router-view>

            </router-view>
        </div>

        <app-footer></app-footer>
    </div>
</template>
<style lang="scss">
    .dashboard-container {
        min-height: 300px;
    }
</style>
<script>
	import AppFooter from '../../CommonViews/Footer.vue'
	import AppHeader from '../../CommonViews/Header.vue'

	export default {
		components: {
			AppFooter, AppHeader
		},
		methods: {}
	}

</script>

