<template>
    <div class="card card-user">
        <div class="image">
            <img src="static/img/background.jpg" alt="...">
        </div>
        <div class="content">
            <div class="author">
                <img class="avatar border-white" src="static/img/faces/face-2.jpg" alt="...">
                <h4 class="title">Chet Faker
                    <br>
                    <a href="#">
                        <small>@chetfaker</small>
                    </a>
                </h4>
            </div>
            <p class="description text-center">
                "I like the way you work it
                <br> No diggity
                <br> I wanna bag it up"
            </p>
        </div>
        <hr>
        <div class="text-center">
            <div class="row">
                <div v-for="(info,index) in details" v-bind:key="index" :class="getClasses(index)">
                    <h5>{{info.title}}
                        <br>
                        <small>{{info.subTitle}}</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                details: [
                    {
                        title: '0',
                        subTitle: this.$t('dashboard.profile.card.users_count')
                    },
                    {
                        title: '0',
                        subTitle: this.$t('dashboard.profile.card.products_count')
                    }
                ]
            }
        },
        methods: {
            getClasses(index) {
                var remainder = index % 3
                if (remainder === 0) {
                    return 'col-md-3 col-md-offset-1'
                } else if (remainder === 2) {
                    return 'col-md-4'
                } else {
                    return 'col-md-3'
                }
            }
        }
    }

</script>
<style>

</style>
