<template>
    <div>
        <div class="header">
            <h4 class="title">{{$t('dashboard.editClassForm.class_info')}}</h4>
        </div>
        <div class="content">
            <form v-on:submit.prevent="onSubmit">
                <fg-input type="hidden"
                          value="brand._id"
                          v-model="brand._id">
                </fg-input>
                <label>
                    {{$t('dashboard.editClassForm.category')}}
                </label>

                <schools-select v-if="readyForSelect"
                                :defaultValue="selectedSchool"
                                :className="'form-control border-input'"
                                :onChangeCb="onSelectCategoriesChanged">
                </schools-select>
                <div v-if="!loading">
                    <div class="text-center">
                        <router-link v-bind:to="'/dashboard/schools/new'">{{ $t('dashboard.overview.create_school') }}
                        </router-link>
                    </div>
                </div>

                <fg-input type="text"
                          :label="$t('dashboard.editClassForm.school')"
                          :placeholder="$t('dashboard.editClassForm.school')"
                          v-model="brand.name">
                </fg-input>

                <!--<div class="row">
                    <div class="col-md-12">
                        <label>{{$t('dashboard.editClassForm.logo')}}</label>
                        <div class="form-group">
                            <input type="file" name="file" id="file"/>
                        </div>
                    </div>
                </div>
                <fg-input type="number"
                          :label="$t('dashboard.editClassForm.created_since')"
                          :placeholder="$t('dashboard.editClassForm.created_since')"
                          v-model="brand.createdSince">
                </fg-input>
                <div class="col-md-7">
                    <label>
                        {{$t('dashboard.editClassForm.category')}}
                    </label>

                    <categories-select v-if="readyForSelect"
                                       :defaultValue="selectedCategory"
                                       :className="'form-control border-input'"
                                       :onChangeCb="onSelectCategoriesChanged">
                    </categories-select>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fg-input type="text"
                                  :label="$t('dashboard.editClassForm.address')"
                                  :placeholder="$t('dashboard.editClassForm.address')"
                                  v-model="brand.address">
                        </fg-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <fg-input type="text"
                                  :label="$t('dashboard.editClassForm.city')"
                                  :placeholder="$t('dashboard.editClassForm.city')"
                                  v-model="brand.city">
                        </fg-input>
                    </div>
                    <div class="col-md-4">
                        <fg-input type="text"
                                  :label="$t('dashboard.editClassForm.country')"
                                  :placeholder="$t('dashboard.editClassForm.country')"
                                  v-model="brand.country">
                        </fg-input>
                    </div>
                    <div class="col-md-4">
                        <fg-input type="number"
                                  :label="$t('dashboard.editClassForm.zipCode')"
                                  :placeholder="$t('dashboard.editClassForm.zipCode')"
                                  v-model="brand.postalCode">
                        </fg-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{$t('dashboard.editClassForm.description')}}</label>
                            <textarea rows="5"
                                      class="form-control border-input"
                                      :placeholder="$t('dashboard.editClassForm.description')"
                                      v-model="brand.description">

              </textarea>
                        </div>
                    </div>
                </div>-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">
                        {{$t('dashboard.editClassForm.save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
	import api from '../../../../api/teacher/teacherSchool'
	import CategoriesSelect from '../../../UIComponents/Categories.vue';
	import SchoolsSelect from "../../../UIComponents/SchoolsSelect";

	export default {
		data() {
			return {
				readyForSelect: false,
				selectedSchool: null,
				brand: {
					name: '',
					createdSince: null,
					category: '',
					address: '',
					country: 'France',
					city: '',
					postalCode: '',
					description: '',
					_id: '',
				}
			}
		},
		components: {
			SchoolsSelect,
			CategoriesSelect,
		},

		mounted() {
			api.info()
					.then(
							response => {
								let data = response.data;
								let brand = data.brand;
								this.$data.brand = Object.assign({}, this.$data.brand, brand);
								this.readyForSelect = true;
								this.$data.selectedCategory = brand.category
							}
					)
					.catch(
							(error) => {
								if (error.response.status === 404) {
									this.$data.brand.name = error.response.data.brand.name
								}
							});


		},
		methods: {
			onSelectCategoriesChanged(selected) {
				this.$data.brand.category = selected;
			},
			onSubmit() {
				let data = new FormData();
				let info = JSON.parse(JSON.stringify(this.$data));
				info = info.brand;
				for (let key in info) {
					data.append(key, info[key]);
				}
				let logo = document.getElementById('file');
				if (logo.files.length) {
					data.append('file', logo.files[0]);
				}
				api.create(data, {
					headers: {
						'content-type': 'multipart/form-data'
					}
				})
						.then(function (res) {
							console.log(res);

						}).catch(function (err) {
					console.log(err);
				})
			}
		}
	}

</script>
<style>

</style>
