<template>
    <div>
        <div v-if="classSchool">
            <form v-on:submit.prevent="onSubmit">
                <input type="hidden" :value="classSchool.id">
            </form>
        </div>
        <div class="textc-center" v-else>
            <i class="ti-loading"></i>
        </div>
    </div>
</template>
<script>

	import api from '../../../../api/teacher/teacherClass.js'

	export default {
		components: {},
		props: {
			classSchool: Object
		},
		data() {
			return {
				loading: false
			}
		},
		mounted() {

		},
		methods: {
			onSubmit() {
				this.loading = true;
				let data = JSON.parse(JSON.stringify(this.$data.product));
				api.update(data)
						.then((res) => {


						}).catch((err) => {
				}).finally(() => {
					this.loading = false;
				})
			}
		}
	}

</script>
