<template>
    <!--Stats cards-->
    <div v-if="!loading">
        <div>
            <div v-if="info.data.length">
                <paper-table :editUrl="'/dashboard/t/classes/'"
                             :editLink="true"
                             moving-arrow :idKey="'_id'"
                             :title="info.title"
                             :sub-title="info.subTitle"
                             :data="info.data"
                             :columns="info.columns">

                </paper-table>
            </div>
        </div>
        <br/>
        <div>
            <form v-on:submit.prevent="onSubmit">
                <h2 class="title is-6">{{$t('dashboard.classes.list.create.title')}}</h2>

                <fg-input type="hidden"
                          v-model="classSchool._id">
                </fg-input>
                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('dashboard.classes.list.create.name')"
                                  :placeholder="$t('dashboard.classes.list.create.name')"
                                  v-model="classSchool.name">
                        </fg-input>
                    </div>
                </div>

                <div class="col-md-4">
                    <fg-input type="text"
                              :label="$t('dashboard.classes.list.create.description')"
                              :placeholder="$t('dashboard.classes.list.create.description')"
                              v-model="classSchool.description">
                    </fg-input>
                </div>

                <div class="field">
                    <div class="field-body">
                        <label class="label mt-1">{{$t("dashboard.classes.list.create.school")}}
                            <router-link class="brand has-text-primary has-text-weight-bold"
                                         v-bind:to="'/create-school'">? créer une
                                école
                            </router-link>
                        </label>
                        <select
                                class="select"
                                :placeholder="$t('accounts.request.select_school')"
                                v-model="classSchool.school">
                            <option v-for="item in mySchoolsList"
                                    :key="item._id"
                                    :value="item._id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="text-center">
                        <button type="submit"
                                :disabled="!classSchool.name"
                                class="button is-info">
                            {{$t('common.save')}}
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div v-else class="has-text-centered">
        <app-loader></app-loader>
    </div>
</template>
<script>
	import api from '../../../../api/teacher/teacherClass'
	import apiSchool from '../../../../api/teacher/teacherSchool'
	import PaperTable from '../../../UIComponents/PaperTable.vue'

	export default {
		components: {
			PaperTable
		},
		data() {
			return {
				classExists: false,
				creatingNew: false,
				info: {
					title: this.$t('teacher.classes.list_title'),
					columns: [
						{id: "name", label: this.$t('teacher.dashboard.classes.list.table.header.name')},
						{id: "updatedAt", label: this.$t('common.updatedAt')},
						{id: "createdAt", label: this.$t('common.createdAt')},
					],
					data: []
				},
				brand: null,
				loading: true,
				refreshList: false,
				mySchoolsList: [],
				classSchool: {
					name: '',
					description: '',
					school: null
				}
			}
		},
		methods: {
			loadList() {
				this.refreshList = true;
				this.loading = true;
				api.list().then((response) => {
					response = response.data;
					if (response && response.ok) {
						this.info.data = response.data;
					}
				}).catch(err => {
					console.log(err);
				}).finally(() => {
					this.refreshList = false;
					this.loading = false;
				})
			},
			loadMySchools() {
				apiSchool.mySchools().then((response) => {
					response = response.data;
					if (response && response.ok) {
						this.mySchoolsList = response.data;
					}
				}).catch(err => {
				}).finally(() => {
				})
			},
			onSubmit() {
				let data = JSON.parse(JSON.stringify(this.$data.classSchool));
				api.create(data)
				// eslint-disable-next-line no-unused-vars
						.then((res) => {
							if (res.ok) {
								this.loadList();
							}
							// eslint-disable-next-line no-unused-vars
						}).catch((err) => {
				}).finally(() => {
					this.creatingNew = false;
				})
			}
		},
		mounted() {
			this.loadList();
			this.loadMySchools();
		}
	}

</script>
<style>

</style>
