<template>
    <!--Stats cards-->
    <div v-if="classSchool">
        <div>
            <div class="tag is-warning" v-for="item in classSchool.students" v-bind:key="item.id">
                {{item.email}}
            </div>
        </div>

        <div>
            <h3 class="title is-6">{{$t('dashboard.classes.list.create.title')}} </h3>
            <form v-on:submit.prevent="onSubmit">

                <fg-input type="hidden"
                          v-model="classSchool._id">
                </fg-input>

                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <fg-input type="text"
                                  v-on:keyup.enter="addEmail"
                                  :placeholder="$t('dashboard.classes.list.create.name')"
                                  v-model="newInvitation">
                        </fg-input>
                    </p>
                    <p class="control">
                        <button class="button is-primary" @click="addEmail($event)">+</button>
                    </p>
                </div>
                <div class="mb-1">

                <span class="tag is-success  mr-1" v-for="entry in invitations" v-bind:key="entry">
  {{entry}}
  <button class="delete is-small" @click="deleteItem(entry, $event)"></button>
</span>
                </div>

                <div class="field-body">
                    <label>&nbsp;</label>
                    <div class="text-center">
                        <button type="submit"
                                :disabled="!invitations.length"
                                class="button is-info">
                            {{$t('common.save')}}
                        </button>
                    </div>
                </div>
            </form>
            <br/>
            <h3 class="title is-6">{{$t('dashboard.classes.list.create.title')}} </h3>

            <form v-on:submit.prevent="onSendInvitationsForAccount">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <fg-input type="text"
                                  v-on:keyup.enter="addEmailForAccount"
                                  :placeholder="$t('dashboard.classes.list.create.name')"
                                  v-model="newAccountInvitation">
                        </fg-input>
                    </p>
                    <p class="control">
                        <button class="button is-primary" @click="addEmailForAccount($event)">+</button>
                    </p>
                </div>
                <div class="mb-1">

                <span class="tag is-success  mr-1" v-for="entry in accountInvitations" v-bind:key="entry">
  {{entry}}
  <button class="delete is-small" @click="deleteFromMissedItem(entry, $event)"></button>
</span>
                </div>
                <div class="field-body">
                    <label>&nbsp;</label>
                    <div class="text-center">
                        <button type="submit"
                                :disabled="!accountInvitations.length"
                                class="button is-info">
                            {{$t('common.save')}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>
<script>
	import apiClass from '../../../../api/teacher/teacherClass'
	import apiAccount from '../../../../api/accounts'

	export default {
		name: "StudentList",
		props: {classSchool: Object},
		data() {
			return {
				accountInvitations: [],
				invitations: [],
				newInvitation: null,
				newAccountInvitation: null
			}
		},
		methods: {
			unique(list) {
				return list.filter((v, i) => list.indexOf(v) === i)
			},
			addEmail($event) {
				if ($event) {
					$event.preventDefault()
				}
				if (this.newInvitation) {
					this.invitations.push(this.newInvitation)
					this.invitations = this.unique(this.invitations);
					this.newInvitation = null;
				}
			},
			addEmailForAccount($event) {
				if ($event) {
					$event.preventDefault()
				}
				if (this.newAccountInvitation) {
					this.accountInvitations.push(this.newAccountInvitation);
					this.accountInvitations = this.unique(this.accountInvitations);
					this.newAccountInvitation = null;
				}
			},
			deleteItem(item, $event) {
				if ($event) {
					$event.preventDefault()
				}
				this.invitations = this.invitations.filter(e => e !== item);
			},
			deleteFromMissedItem(item, $event) {
				if ($event) {
					$event.preventDefault()
				}
				this.accountInvitations = this.accountInvitations.filter(e => e !== item);
			},
			onSubmit() {
				let data = JSON.parse(JSON.stringify({
					list: this.invitations
				}));
				apiClass.invite(this.classSchool._id, data)
				// eslint-disable-next-line no-unused-vars
						.then((res) => {
							res = res.data;
							if (res.ok && res.data) {
								if (res.data.missed) {
									this.invitations = [];
									this.accountInvitations = res.data.missed;
								}
							}
						})
						// eslint-disable-next-line no-unused-vars
						.catch((err) => {

						}).finally(() => {
					this.creatingNew = false;
				})
			},
			onSendInvitationsForAccount() {
				let data = JSON.parse(JSON.stringify({
					list: this.accountInvitations
				}));
				apiAccount.invite(this.classSchool._id, data)
				// eslint-disable-next-line no-unused-vars
						.then((res) => {
							res = res.data;
							if (res.ok && res.data) {
								this.accountInvitations = [];
							}
						})
						.catch((err) => {

						}).finally(() => {
					this.creatingNew = false;
				})
			}
		},
		mounted() {
		}
	}

</script>
