<template>
    <div id="tabs-with-content">
        <div v-if="classSchool">
            <div class="tabs">
                <ul>
                    <li><a @click="setIndex(0)"
                           v-bind:class="{'is-active' : currentIndex ===  0}">{{$t('settings.chapters')}}</a>
                    </li>
                    <li><a @click="setIndex(1)"
                           v-bind:class="{'is-active' : currentIndex ===  1}">{{$t('settings.students')}}</a>
                    </li>
                    <li><a @click="setIndex(2)"
                           v-bind:class="{'is-active' : currentIndex ===  2}">{{$t('settings.advanced')}}</a>
                    </li>
                </ul>
            </div>
            <div>
                 <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 0}">
                    <chapters-list :class-school="classSchool"></chapters-list>
                </section>
                <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 1}">
                    <students-list :class-school="classSchool"></students-list>
                </section>
                <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 2}">
                    <edit :class-school="classSchool"></edit>
                </section>
            </div>
        </div>
    </div>
</template>
<script>

	import api from '../../../../api/teacher/teacherClass.js'


	import Edit from "./Edit";
	import StudentsList from "./StudentsList";
	import ChaptersList from "../Chapters/List";

	export default {
		components: {
			ChaptersList,
			StudentsList,
			Edit
		},
		data() {
			return {
				loadingLaunch: false,
				dataLoaded: false,
				classSchool: null,
				currentIndex: 0
			}
		},
		mounted() {
			this.loadInfo();

		},
		methods: {
			setIndex(index) {
				this.currentIndex = index;
			},
			loadInfo() {
				api.info(this.$route.params.id)
						.then(
								response => {
									response = response.data;
									if (response.ok && response.data) {
										this.classSchool = response.data;
									}
								}
						)
						.catch(
								// eslint-disable-next-line no-unused-vars
								(error) => {

								});
			}
		}
	}

</script>
