<template>
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <h3 class="title is-5">Francais </h3>
                <h3 class="title is-6">The service : Keedo </h3>
                <p class="content">
                    Keedo is an eduction platform <span class="has-text-weight-bold"> EdTech</span>
                    * Hosted
                    * Domain name

                </p>
                <h3 class="title is-6">Privacy Policy </h3>
                <p class="content">
                    Data ....
                    Encryption + links
                </p>
                <h3 class="title is-6">Security policy </h3>
                <p class="content">
                    https / TLS + links
                </p>
                <h3 class="title is-6">Children's Online Privacy Protection </h3>
                <p class="content">

                    3. A statement about age limits, if applicable, in order to comply with the Act
                    of 1998 (COPPA) applicable to children under 13 years of age.

                    Encryption
                </p>


                4. A list of the responsibilities of community members when it comes to commenting on your blog posts or
                communicating with other commenters, etc.
                5. An outline of the illegal behavior you will not condone, such as guidelines that state members cannot
                violate
                copyright or trademark laws or risk being banned from the community.
                6. Specifications as to what you consider inappropriate behavior, such as spamming or posting
                pornographic materials
                or links to such.
                7. A statement about fees, if there are any, and what the services or products are in return for such
                fees.
                8. A clause about intellectual property and who owns what content and materials that members might
                upload or share.
                9. The ambiguous “change” clause where you state that you reserve the right at your sole discretion to
                modify or
                change any part of the agreement. This statement should also placethe onus on the members to check the
                terms
                regularly.
                10. Termination information related to when you would ban someone from a community-- which is basically
                any time you
                want, with and without cause.
            </div>
        </div>
    </section>


</template>

<script>
	export default {}

</script>
