<template>
    <svg
            width="600"
            height="600"
            viewBox="0 0 600 600"
            xmlns="http://www.w3.org/2000/svg"
            class="shadow"
    >
        <defs>
            <pattern id="imgpattern" x="0" y="0" width="1" height="1">
                <image xlink:href="/img/book.png"/>
            </pattern>
        </defs>
        <g transform="translate(300,300)">
            <path d="M128.4,-178.8C153.8,-158.3,153,-103.9,167.3,-55.4C181.7,-6.9,211.1,35.6,213.8,82.4C216.4,129.2,192.3,180.3,152.2,196.9C112.1,213.6,56,195.8,11.7,179.7C-32.7,163.7,-65.4,149.4,-100.8,131.2C-136.1,113,-174.1,91,-188.7,58.4C-203.2,25.9,-194.3,-17.2,-180,-57.7C-165.8,-98.2,-146.1,-136,-115.2,-154.7C-84.2,-173.3,-42.1,-172.6,4.7,-179.1C51.5,-185.6,103.1,-199.2,128.4,-178.8Z"
                  fill="url(#imgpattern)"/>
        </g>
    </svg>

</template>
