<template>
    <svg
            width="600"
            height="400"
            viewBox="0 0 600 400"
            xmlns="http://www.w3.org/2000/svg"
            class="shadow"
    >
        <defs>
            <pattern id="imgpattern_2" x="0" y="0" width="1" height="1">
                <image xlink:href="/img/9e5d95c152ab0396f3a29401cf21a0df--kids-patterns-animal-patterns.jpg"/>
            </pattern>
        </defs>
        <g transform="translate(300,230)">
            <path d="M126.6,-191.5C156.6,-177.7,168.4,-130,177.2,-87.7C186.1,-45.3,192,-8.4,181.4,22.1C170.8,52.6,143.6,76.7,117.1,94C90.5,111.4,64.7,121.9,36.7,134.3C8.7,146.8,-21.4,161.2,-48.8,157.2C-76.2,153.3,-100.8,131,-135.8,108C-170.7,85,-216,61.3,-235.7,24.6C-255.5,-12.1,-249.6,-61.7,-225.3,-97.8C-200.9,-133.9,-158,-156.6,-117.4,-165.5C-76.8,-174.5,-38.4,-169.7,5,-177.4C48.3,-185.2,96.6,-205.3,126.6,-191.5Z"
                  fill="url(#imgpattern_2)"/>
        </g>
    </svg>
</template>
