<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         id="circles_svg"
         viewBox="60 10 160 12">

        <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:#377DFF;stop-opacity:1"/>
                <stop offset="100%" style="stop-color:rgba(255,255,255,0.82);stop-opacity:1"/>
            </linearGradient>

            <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:#ff511f;stop-opacity:1"/>
                    <stop offset="100%" style="stop-color:#fff02a;stop-opacity:1"/>
            </linearGradient>

            <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:#45b2f1;stop-opacity:1"/>
                <stop offset="100%" style="stop-color:#45b2f1;stop-opacity:1"/>
            </linearGradient>
        </defs>
        <g>
            <circle class="wave-bottom-with-dots-2" fill="url(#grad1)" cx="119.5" cy="12" r="40"/>
            <circle class="wave-bottom-with-dots-1" fill="url(#grad2)" cx="190" cy="-15.5" r="18.5"/>
            <circle class="wave-bottom-with-dots-3"  fill="url(#grad3)" cx="188" cy="15.5" r="25.5"/>
            <circle class="wave-bottom-with-dots-4 fill-warning" cx="132.5" cy="54" r="21"/>
        </g>
    </svg>

</template>
<style lang="scss">
    #circles_svg {
        width: 500px;
        height: 400px;


        .wave-bottom-with-dots-3 {
            stroke-width: 2px;
            stroke: white;
        }

        .wave-bottom-with-dots-4 {
            fill: rgb(138, 43, 226);
            stroke-width: 2px;
            stroke: white;
        }

        /* ROTATE ANIMATION */
        @keyframes rotateIn {
            from {
                //opacity: 0;
                transform: rotate(0deg);
            }
            to {
                //opacity: 1;
                transform: rotate(360deg);
            }
        }
        /* ANIMATE PETALS */
        circle[class^="wave-bottom"] {
            //opacity: 0;
            transform: rotate(0deg);
            transform-origin: center;
            transform-box: fill-box;
            animation: rotateIn ease-in-out 1;
            animation-fill-mode: forwards;
            animation-duration: 10s;

            animation-iteration-count: infinite;
        }

    }
</style>
