<template>
    <section id="features" class="section is-medium">
        <div class="container">
            <div class="title-wrapper has-text-centered">
                <h2 class="title is-2">{{$t('features.section.title')}} Toutes les activités </h2>
                <h3 class="subtitle is-5 is-muted has-text-danger"> {{$t('features.section.subtitle')}} pour organiser votre classe et bien plus</h3>
                <div class="divider is-centered"></div>
            </div>

            <div class="content-wrapper">
                <div class="columns is-multiline icon-list">
                    <div class="column is-4">
                        <div class="feature-icon has-text-centered">
                            <div class="icon-wrap is-icon-reveal">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#icon_briefcase"></use>
                                </svg>
                            </div>
                            <h4>{{$t('features.section.class')}}</h4>
                            <p>{{$t('features.section.classDescription')}}</p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="feature-icon has-text-centered">
                            <div class="icon-wrap is-icon-reveal">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#icon_calendar"></use>
                                </svg>
                            </div>
                            <h4>{{$t('features.section.calendar')}}</h4>
                            <p>{{$t('features.section.calendarDescription')}}</p>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="feature-icon has-text-centered">
                            <div class="icon-wrap is-icon-reveal">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#icon_book"></use>
                                </svg>
                            </div>
                            <h4>{{$t('features.section.book')}}</h4>
                            <p>{{$t('features.section.bookDescription')}}</p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="feature-icon has-text-centered">
                            <div class="icon-wrap is-icon-reveal">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#icon_bike"></use>
                                </svg>
                            </div>
                            <h4>{{$t('features.section.activity')}}</h4>
                            <p>{{$t('features.section.activityDescription')}}</p>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="feature-icon has-text-centered">
                            <div class="icon-wrap is-icon-reveal">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#icon_chatbubbles"></use>
                                </svg>
                            </div>
                            <h4>{{$t('features.section.chat')}}</h4>
                            <p>{{$t('features.section.chatDescription')}}</p>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="feature-icon has-text-centered">
                            <div class="icon-wrap is-icon-reveal">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#icon_library"></use>
                                </svg>
                            </div>
                            <h4>{{$t('features.section.library')}}</h4>
                            <p>{{$t('features.section.libraryDescription')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>

	export default {
		name: 'Welcome',
		components: {},
		mounted() {
		}
	}
</script>

<style lang="scss">
    .content-wrapper {
        .icon {
            stroke: brown;
            fill: brown;
            --primary: brown;
            --secondary: #45c9de;
            width: 50px;
            height: 50px;
        }
    }

</style>
