<template>
    <section class="section is-medium" id="pricing">
        <div class="container">
            <div class="title-wrapper has-text-centered">
                <h2 class="title is-2">{{$t('pricing.our_plans')}}</h2>
                <h3 class="subtitle is-5 is-muted">{{$t('pricing.choose_plan')}}</h3>
                <div class="divider is-centered"></div>
            </div>

            <div class="pricing-wrap">

                <div class="feature-card is-pricing has-text-centered">
                    <h3 class="plan-name">On promise</h3>
                    <h3 class="plan-name">ou marque blanche</h3>
                    <svg viewBox="0 0 512 512" class="icon">
                        <use xlink:href="#icon_business"></use>
                    </svg>
                    <p class="feature-card__features">

                    <ul>
                        <li class="has-text-primary has-text-weight-bold">
                            {{$t('pricing.features_list')}}

                        </li>
                        <li class="has-text-weight-bold is-1">+</li>
                        <li>
                            {{$t('pricing.on_promise_hosted_on_you')}}
                        </li>
                        <li>
                            {{$t('pricing.on_promise_plugin')}}
                        </li>
                        <li>
                            {{$t('pricing.customisation')}}
                        </li>

                    </ul>
                    </p>
                    <a class="has-text-weight-bold button has-background-info has-text-white"
                       href="mailto:fathallah.houssem@gmail.com?subject=[KEEDO] On promise">
                        {{$t('pricing.contact')}}</a>
                </div>
                <div class="feature-card is-pricing has-text-centered is-disabled">
                    <h3 class="plan-name"> {{$t('pricing.public_school')}} <span
                            class="tag is-warning is-micro is-uppercase">{{$t('common.soon')}}</span></h3>
                    <svg viewBox="0 0 512 512" class="icon">
                        <use xlink:href="#icon_cloud"></use>
                    </svg>

                    <div class="price">
                        {{$t('pricing.public_school_cost')}}
                        <small> {{$t('pricing.user_month')}}</small>
                        <div class="price-unit">{{$t('pricing.unit')}}</div>
                    </div>
                    <p class="feature-card__features">{{$t('pricing.features_list')}}</p>
                    <span disabled
                          class="button is-primary has-text-weight-bold">
                        {{$t('register.title')}}
                    </span>
                    <div class="is-hidden"> v-bind:to="'/accounts/register'"</div>
                </div>
                <div class="feature-card is-pricing has-text-centered  is-disabled">
                    <h3 class="plan-name"> {{$t('pricing.private_school')}} <span
                            class="tag is-warning is-micro is-uppercase">{{$t('common.soon')}}</span></h3>
                    <svg viewBox="0 0 512 512" class="icon">
                        <use xlink:href="#icon_cloud"></use>
                    </svg>
                    <div class="price">
                        {{$t('pricing.private_school_cost')}}
                        <small> {{$t('pricing.user_month')}}</small>
                        <div class="price-unit">{{$t('pricing.unit')}}</div>
                    </div>

                    <p class="feature-card__features">{{$t('pricing.features_list')}}</p>
                    <span disabled
                          class="button is-primary has-text-weight-bold">
                        {{$t('register.title')}}
                    </span>
                    <div class="is-hidden"> v-bind:to="'/accounts/register'"</div>
                </div>

            </div>
        </div>
    </section>

</template>

<script>
	import Header from '../CommonViews/Header.vue'
	import Footer from '../CommonViews/Footer.vue'
	import Register from '../Accounts/Register.vue'
	import Icons from '../UIComponents/Icons.vue'
	import Phone from '../UIComponents/Phone.vue'

	export default {
		name: 'Welcome',
		components: {
			'company-app-header': Header,
			'app-footer': Footer,
			'app-register': Register,
			'app-icons': Icons,
			'app-phone': Phone
		},
		data: () => {
			let items = ["fashion.jpg", "food.jpg", "handmade.jpg", "background.jpg"];
			return {
				items: items,
				pricing: true
			}
		}
	}
</script>

<style lang="scss">
    @import "../../sass/variables";
    #pricing {

    }

    .is-disabled {
        opacity: 0.5;
    }

    .pricing-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 60px;

        .icon {
            stroke: $app-green;
            fill: $app-green;
            --primary: $app-green;
            --secondary: $app-green;
            margin: 10px;
            width: 5rem;
            height: 5rem;
        }

        .feature-card {
            width: 300px;
            height: 320px;
            background-color: #fff;
            border-radius: 3px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.is-pricing {
                border: 1px solid #e3e3e3;
                border-radius: 6px;
                -webkit-box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
                box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
                margin: 8px;
                padding: 20px;
                height: 400px;
            }

            .price {
                position: relative;
                font-weight: 700;
                font-size: 2.4rem;
                color: #444F60;

                small {
                    font-size: 10px;
                }

                .price-unit {
                    position: relative;
                    top: -65px;
                    left: -17px;
                    font-size: 1.2rem;
                }
            }

            .feature-card__features {
                flex-grow: 1;
            }
        }


    }

</style>
