<template>
    <div class="schools">
        <div class="avatars has-text-centered container">

            <svg viewBox="0 0 100 100"
                 v-for="avatar in avatars"
                 v-bind:key="avatar">

                <use :xlink:href="'#welcome-friends-' + avatar"></use>
            </svg>
        </div>

    </div>

</template>

<script>
	import Register from '../Accounts/Register.vue'

	let anime = window.anime;
	export default {
		name: 'Welcome',
		data() {
			return {
				avatars: 'hedgehog koala crab chick hippopotamus whale animal deer animals'.split(' '),
			}
		},
		mounted() {
			//var path = anime.path('path');
			anime({
				targets: '.water',
				//translateY: path('y'),
				easing: 'linear',
				opacity: 1,
				translateY: [{value: -1, duration: 500}, {value: 0.2, duration: 500}],
				duration: 600,
				loop: true
			});
			anime({
				targets: '.crab-claws',
				rotate: [{value: 0, duration: 500},
					{value: 1, duration: 500}],
				loop: true
			});
			anime({
				targets: '.crab-claws-left',
				rotate: [{value: 1, duration: 500},
					{value: 0, duration: 500}],
				loop: true
			});
			anime({
				targets: '.chick-eye',
				translateX: [{value: -0.2, duration: 500}, {value: 0.2, duration: 500}],
				reverse: true,
				loop: true
			});
			anime({
				targets: '.koala-noise',
				translateX: [{value: -1.2, duration: 500}, {value: 0.2, duration: 500}],
				reverse: true,
				loop: true
			});
			anime({
				targets: '#animal_eye',
				//translateX: '-82px',
				//translateY: '-76px',
				scale: [1, 3],
				// translate(, -) scale(3)
				opacity: [1, 1],
				//rotate: '1turn',
				duration: 7000
			});
			anime({
				targets: '#noise_reindeer',
				rotate: [{value: 1, duration: 500},
					{value: 0, duration: 500}],
				reverse: true,
				loop: true
			});
		},
		components: {
			'app-register': Register
		}
	}
</script>

<style lang="scss">
    .schools {
        .avatars {
            svg {
                width: 75px;
                height: 70px;
                cursor: pointer;
                border-radius: 50%;
                margin: 2px;
            }
        }
    }
</style>
