<template>
    <div class="shops">
        <company-app-header/>
        <app-icons/>

        <div class="clearfix"></div>
        <section class="hero" id="show_case">
            <div class="container">
                <div>
                    <div class="col-lg-6">
                        <h4>{{$t('business.brands.showcase')}}</h4>
                    </div>
                    <div class="col-lg-6">
                        <app-phone>
                            <show-case></show-case>
                        </app-phone>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero big-pic">
            <div id="table">
                <div class="container">
                    <div class="col-lg-12 row section-title">
                        <h1><span>{{$t('business.brands.rebond')}}</span></h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero" id="hero_top">
            <div class="container">
                <h1>{{$t('welcome.hello')}}
                </h1>
                <div>
                    <div class="col-lg-6">
                        <h4>Ne plus restez dépassé</h4>


                    </div>
                    <div class="col-lg-6">
                        <div class="text-center">
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-map-pin"></use>
                            </svg>
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-shop"></use>
                            </svg>
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-speaker"></use>
                            </svg>
                            <svg viewBox="0 0 100 100" class="icon">
                                <use xlink:href="#icon-food"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <br/>
    </div>

</template>

<script>
    import Header from '../CommonViews/Header.vue'
    import Register from '../Accounts/Register.vue'
    import Icons from '../UIComponents/Icons.vue'
    import Phone from '../UIComponents/Phone.vue'

    export default {
        name: 'Welcome',
        components: {
            'company-app-header': Header,
            'app-register': Register,
            'app-icons': Icons,
            'app-phone': Phone,
        },
        data: () => {
            let items = ["fashion.jpg", "food.jpg", "handmade.jpg", "background.jpg"];
            return {
                items: items
            }
        }
    }
</script>

<style lang="scss">
    .shops {

        .hero.big-pic {
            min-height: 400px;
            position: relative;
            /* The image used */
            background-image: url("/img/paris.jpg");

            /* Set a specific height */
            height: 400px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .section-title {
                span {
                    color: black;
                    //  background: #e824f0;
                }
            }
        }
        #hero_top {
            background: linear-gradient(#fae62d -30%, #f037a5 150%);

        }

        #hero_top h1 {
            margin-bottom: 60px;
        }

        .app-service {
            padding: .2em;
        }

        .app-service .card {
            min-height: 180px;
            min-width: 180px;
            background-size: cover;
        }

        .play-store {
            width: 200px;
            display: inline-block;
        }

        .hand-made-bg {
            background-size: cover;
            position: absolute;
            left: 0px;
            right: 0px;
            width: 100%
        }

        .section-title {
            z-index: 1;
        }

        .hero {
            min-height: 400px;
            position: relative;
        }

        .hero.big-pic {
            min-height: 800px;
        }
        #show_case {
            margin-top: 19px;
            padding-top: 40px;
            background: linear-gradient(#2475fa -30%, #e824f0 150%);

            h1 {
                color: #f91f1c;
            }
        }
        h1 {
            font-weight: 900;
            font-size: 5.2em;
            line-height: 93px;
            color: white;
            letter-spacing: -0.02em;
        }

        h1.hand-made {
            color: #f91f1c;
        }

    }
</style>
