<template>
    <div class="container">
        <div class="card">
            <figure class="card__image">
                <img class="space" src="https://c1.staticflickr.com/4/3935/32253842574_d3d449ab86_c.jpg"
                     alt="Short description">
            </figure>
            <!--<div class="card__body">
                <h3 class="card__name">Neil Armstrong</h3>
                <p class="card__job">astronaut & engineer</p>
                <p class="card__bio"> American astronaut, engineer, and the first person to walk on the
                    Moon.</p>
            </div>
            <div class="card__footer">
                <p class="card__date">Feb 10 2018</p>
                <p class=""></p>
            </div>-->
        </div>
        <div class="card">
            <figure class="card__image">
                <img class="house" src="/img/david-clode-1214016-unsplash.jpg"
                     alt="Short description">
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
                <i class="rain"></i>
            </figure>
            <!--<div class="card__body">
                <h3 class="card__name">Neil Armstrong</h3>
                <p class="card__job">astronaut & engineer</p>
                <p class="card__bio"> American astronaut, engineer, and the first person to walk on the
                    Moon.</p>
            </div>
            <div class="card__footer">
                <p class="card__date">Feb 10 2018</p>
                <p class=""></p>
            </div>-->
        </div>
        <div class="card">
            <figure class="card__image">
                <img class="space" src="/img/joel-filipe-199037-unsplash.jpg"
                     alt="Short description">
            </figure>
            <div class="bubbles bubble-1"></div>
            <div class="bubbles bubble-5"></div>
            <div class="bubbles bubble-2"></div>
            <div class="bubbles bubble-3"></div>
            <div class="bubbles bubble-4"></div>
            <!--<div class="card__body">
                <h3 class="card__name">Neil Armstrong</h3>
                <p class="card__job">astronaut & engineer</p>
                <p class="card__bio"> American astronaut, engineer, and the first person to walk on the
                    Moon.</p>
            </div>
            <div class="card__footer">
                <p class="card__date">Feb 10 2018</p>
                <p class=""></p>
            </div>-->
        </div>
    </div>
</template>
<script>
    export default {
        name: 'WelcomeStories',
    }
</script>
<style lang="scss">


    .card {
        position: relative;
        grid-area: card;
        align-self: center;
        justify-self: center;
        overflow: hidden;
        width: 100%;
        max-width: 250px;
        height: 400px;
        font-size: var(--fontOrigin);
        border-radius: 8px;
        box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        -webkit-transition: all var(--speed) ease;
        transition: all var(--speed) ease;
        display: inline-block;
        margin: 12px;
    }

    .card:nth-of-type(1) {
        margin-left: 0px;
    }

    /* **** */
    @keyframes zoom {
        from {
            object-position: 0 50%;
        }
        to {
            object-position: 100% 50%;
        }
    }

    .card:hover {
        box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
        -webkit-transform: scale(1.01, 1.01);
        transform: scale(1.01, 1.01);
    }

    .card__image img.space {
        animation-duration: 70s;
    }

    .card__image img.house {
        /* animation-duration: 10s; */
    }

    .card__name {
        align-self: center;
        justify-self: center;
        margin-bottom: 2px;
        color: white;
        font-size: var(--fontLarge);
        font-weight: var(--fontLight);
        letter-spacing: 0.1rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
        background: -webkit-linear-gradient(white, #a1a1a1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-transition: all var(--speed) ease;
        transition: all var(--speed) ease;
    }

    .card:hover .card__name {
        background: -webkit-linear-gradient(white, #c1c1c1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .card__job {
        align-self: center;
        justify-self: center;
        display: inline-block;
        font-size: var(--fontSmall);
        font-weight: var(--fontLight);
        text-align: center;
        letter-spacing: 0.35rem;
        color: rgba(100, 130, 200, 0.45);
        -webkit-transition: all var(--speed) ease;
        transition: all var(--speed) ease;
    }

    .card:hover .card__job {
        color: rgba(100, 130, 200, 1);
    }

    .card__image {
        position: absolute;
        top: 0;
        left: 0;
        /*z-index: -1;*/
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    }

    .card__image img {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        -webkit-transition: all var(--speed) ease;
        transition: all var(--speed) ease;
        animation-name: zoom;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .rain {
        background: white;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
        height: 50px;
        position: absolute;
        width: 3px;
    }

    .rain:nth-of-type(1) {
        animation-name: rain-1;
        animation-delay: 1s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 83%;
        opacity: 0.59;
        top: -98%;
    }

    @Keyframes rain-1 {
        0% {
            left: 83%;
            opacity: 0.59;
            top: -98%;
        }
        100% {
            opacity: 0;
            top: 138%;
        }
    }

    .rain:nth-of-type(2) {
        animation-name: rain-2;
        animation-delay: 6s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 7%;
        opacity: 0.55;
        top: -52%;
    }

    @Keyframes rain-2 {
        0% {
            left: 7%;
            opacity: 0.55;
            top: -52%;
        }
        100% {
            opacity: 0;
            top: 92%;
        }
    }

    .rain:nth-of-type(3) {
        animation-name: rain-3;
        animation-delay: 1s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 56%;
        opacity: 0.48;
        top: -68%;
    }

    @Keyframes rain-3 {
        0% {
            left: 56%;
            opacity: 0.48;
            top: -68%;
        }
        100% {
            opacity: 0;
            top: 108%;
        }
    }

    .rain:nth-of-type(4) {
        animation-name: rain-4;
        animation-delay: 2s;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        left: 76%;
        opacity: 0.31;
        top: -90%;
    }

    @Keyframes rain-4 {
        0% {
            left: 76%;
            opacity: 0.31;
            top: -90%;
        }
        100% {
            opacity: 0;
            top: 130%;
        }
    }

    .rain:nth-of-type(5) {
        animation-name: rain-5;
        animation-delay: 7s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 83%;
        opacity: 0.52;
        top: -82%;
    }

    @Keyframes rain-5 {
        0% {
            left: 83%;
            opacity: 0.52;
            top: -82%;
        }
        100% {
            opacity: 0;
            top: 122%;
        }
    }

    .rain:nth-of-type(6) {
        animation-name: rain-6;
        animation-delay: 16s;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        left: 38%;
        opacity: 0.51;
        top: -100%;
    }

    @Keyframes rain-6 {
        0% {
            left: 38%;
            opacity: 0.51;
            top: -100%;
        }
        100% {
            opacity: 0;
            top: 140%;
        }
    }

    .rain:nth-of-type(7) {
        animation-name: rain-7;
        animation-delay: 9s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 52%;
        opacity: 0.6;
        top: -72%;
    }

    @Keyframes rain-7 {
        0% {
            left: 52%;
            opacity: 0.6;
            top: -72%;
        }
        100% {
            opacity: 0;
            top: 112%;
        }
    }

    .rain:nth-of-type(8) {
        animation-name: rain-8;
        animation-delay: 5s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 15%;
        opacity: 0.52;
        top: -96%;
    }

    @Keyframes rain-8 {
        0% {
            left: 15%;
            opacity: 0.52;
            top: -96%;
        }
        100% {
            opacity: 0;
            top: 136%;
        }
    }

    .rain:nth-of-type(9) {
        animation-name: rain-9;
        animation-delay: 18s;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        left: 69%;
        opacity: 0.5;
        top: -54%;
    }

    @Keyframes rain-9 {
        0% {
            left: 69%;
            opacity: 0.5;
            top: -54%;
        }
        100% {
            opacity: 0;
            top: 94%;
        }
    }

    .rain:nth-of-type(10) {
        animation-name: rain-10;
        animation-delay: 13s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        left: 32%;
        opacity: 0.44;
        top: -100%;
    }

    @Keyframes rain-10 {
        0% {
            left: 32%;
            opacity: 0.44;
            top: -100%;
        }
        100% {
            opacity: 0;
            top: 140%;
        }
    }

    .rain:nth-of-type(11) {
        animation-name: rain-11;
        animation-delay: 0s;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        left: 72%;
        opacity: 0.34;
        top: -67%;
    }

    @Keyframes rain-11 {
        0% {
            left: 72%;
            opacity: 0.34;
            top: -67%;
        }
        100% {
            opacity: 0;
            top: 107%;
        }
    }

    .rain:nth-of-type(12) {
        animation-name: rain-12;
        animation-delay: 15s;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        left: 97%;
        opacity: 0.57;
        top: -91%;
    }

    /*SEA*/

    /* Bubbles */

    /* Bubbles Animation */
    @keyframes up {
        100% {
            transform: translateY(-800px);
        }
    }

    .bubbles {
        position: absolute;
        bottom: 0;
        z-index: 5;
        margin-right: 50px;
        background-color: white;
        border-radius: 50%;
        opacity: .50;
        width: 40px;
        height: 40px;
        animation: up 4s infinite;
    }

    .bubble-2 {
        left: 20px;
        animation: up 2s infinite;
    }

    .bubble-3 {
        left: 70px;
        opacity: .30;
        animation: up 5s infinite;
    }

    .bubble-4 {
        left: 150px;
        animation: up 6s infinite;
    }

    .bubble-5 {
        left: 200px;
        animation: up 5s infinite;
    }


</style>
