<template>
    <div>
        <top-navbar></top-navbar>
        <div class="columns dashboard-container">
            <div class="column is-3">
                <side-bar>

                </side-bar>
            </div>

            <div class="column is-9">
                <router-view>

                </router-view>
            </div>
        </div>

        <content-footer></content-footer>
    </div>
</template>
<style lang="scss">
    .dashboard-container {
        min-height: 100vh;
    }
</style>
<script>
	import TopNavbar from './TopNavbar.vue'
	import ContentFooter from '../../CommonViews/MiniFooter.vue'
	import SideBar from './SideBar'

	export default {
		components: {
			TopNavbar,
			ContentFooter,
			SideBar
		},
		methods: {
			toggleSidebar() {
				if (this.$sidebar.showSidebar) {
					this.$sidebar.displaySidebar(false)
				}
			}
		}
	}

</script>
