<template>
    <div class="side-bar">
        <aside class="menu">
            <ul class="menu-list is-relative">
                <li>
                    <router-link v-bind:to="'/admin/'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_apps"></use>
                        </svg>
                        {{ $t("admin.dashboard.sidebar.overview") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/admin/accounts'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_people"></use>
                        </svg>
                        {{ $t("admin.dashboard.sidebar.accounts") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/admin/schools'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_business"></use>
                        </svg>
                        {{ $t("admin.dashboard.sidebar.schools") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/admin/schools-requests'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_business"></use>
                        </svg>
                        {{ $t("admin.dashboard.sidebar.schools_requests") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/admin/teachers-requests'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_business"></use>
                        </svg>
                        {{ $t("admin.dashboard.sidebar.teachers_requests") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/admin/settings'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_settings"></use>
                        </svg>
                        {{ $t("admin.dashboard.sidebar.settings") }}
                    </router-link>
                </li>
            </ul>
        </aside>
    </div>
</template>
<style lang="scss">
    .side-bar {
        background: white;
        padding: 1rem;
        border-right: solid 2px #eeedf2;
        position: relative;
    }

    .logo-container {
        height: 5rem;
        padding: .5em .75em;
    }
</style>
<script>

	export default {
		props: {},
		components: {},
		computed: {},
		data() {
			return {}
		},
		methods: {}
	}

</script>
<style lang="scss">
    @import "../../../sass/variables";

    .side-bar {
        height: 100%;
        padding: 1rem .5rem;;
    }

    .menu-list {
        a {
            display: flex;
            align-items: center;
            margin: 8px 0;

            .icon {
                stroke: grey;
                fill: grey;
                --primary: grey;
                --secondary: grey;
                margin: 0 5px;
            }

            &.router-link-exact-active {
                background: none;
                color: $app-color;

                .icon {
                    stroke: $app-color;
                    fill: $app-color;
                    --primary: $app-color;
                    --secondary: $app-color;
                }

            }
        }
    }
</style>
