<template>
<div></div>
</template>
<script>
	export default {
		computed: {
			routeName() {
				const {name} = this.$route
				return this.capitalizeFirstLetter(name)
			}
		},
		data() {
			return {
				activeNotifications: false
			}
		},
		methods: {
			capitalizeFirstLetter(string) {
				return string.charAt(0).toUpperCase() + string.slice(1)
			},
			toggleNotificationDropDown() {
				this.activeNotifications = !this.activeNotifications
			},
			closeDropDown() {
				this.activeNotifications = false
			},
			toggleSidebar() {
				this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
			},
			hideSidebar() {
				this.$sidebar.displaySidebar(false)
			}
		}
	}

</script>
<style>
    .navbar .navbar-nav > li > a i {
        margin: 0 5px;
    }

</style>
