<template>
    <div>
        <div>
            <div class="welcome">

            </div>
        </div>
        <h3 class="title"> {{$t('student.overview.tasks')}}</h3>
        <div class="columns is-marginless">
            <div class="app-box column is-marginless">
                <week></week>
            </div>
        </div>
        <tasks></tasks>
    </div>

</template>

<script>
	import Week from "../../UIComponents/Calendar/CalendarWeek";
	import Tasks from "./Overview/Tasks";

	export default {
		name: 'Overview',
		components: {Tasks, Week},
		data() {
			return {
				tasks: [1, 3, 4, 5]
			}
		}
	}
</script>

<style lang="scss">
    @import "../../../sass/variables";

    .app-box {
        border: solid .5px #0a0a0a;
        padding: .5rem;
        border-radius: 5px;

        &:first-child {
            margin-right: 4px;
        }


    }

    .app-mini-box {
        //border : solid 1px #0a0a0a;
        border-radius: 10px;
        height: 80px;
        margin: 4px;
        background: $app-green;
    }

    .welcome {
        align-items: center;
        background-color: #ffdbd7;
        border-radius: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20% 18px 0;
        position: relative;
        margin-bottom: 23px;
    }

</style>
