<template>
    <div class="profile-student__edit">
        <h2 class="title is-5">{{$t('student.profile.title')}}</h2>

        <form v-on:submit.prevent="onSubmit">
            <div class="field">
                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('register.firstName')"
                                  :placeholder="$t('register.firstName')"
                                  v-model="user.firstName">
                        </fg-input>
                        <fg-input type="text"
                                  :label="$t('register.lastName')"
                                  :placeholder="$t('register.lastName')"
                                  v-model="user.lastName">
                        </fg-input>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="has-text-left label">
                    {{$t('student.profile.avatar')}}
                </label>
            </div>
            <div class="avatars">
                <svg @click="setAvatar(avatar)"
                     viewBox="0 0 100 100"
                     v-for="avatar in avatars"
                     v-bind:key="avatar"
                     :class="{'is--active' : selectedAvatar === avatar }">

                    <use :xlink:href="'#welcome-friends-' + avatar"></use>
                </svg>

            </div>
            <br/>
            <div class="field">
                <div class="field-body  has-text-centered">
                    <button type="submit" v-bind:class="'button is-primary ' + loading">
                        {{ $t("common.update") }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
<style lang="scss">

</style>
<script>
	import api from '../../../api/profile'
	import COMMIT_TYPES from "../../../store/commitTypes";

	export default {
		name: 'AppProfileEdit',
		props: {},
		components: {},
		computed: {},
		data() {
			return {
				loading: false,
				avatars: 'hedgehog crab chick hippopotamus whale animal deer animals'.split(' '),
				name: 0,
				selectedAvatar: '',
				user: {
					firstName: null,
					lastName: null,
					profile: {
						avatar: null
					},
				}
			}
		},
		methods: {
			finishLoading(error = false) {
				this.error = error;
				this.loading = false;
			},
			onSubmit() {
				if (!this.loading) {
					let data = JSON.parse(JSON.stringify(this.user));
					data.profile.avatar = this.selectedAvatar;
					this.loading = true;
					api.update(data)
					// eslint-disable-next-line no-unused-vars
							.then((res) => {
								this.finishLoading();
								if (res.data && res.data.ok) {
									this.$store.commit(COMMIT_TYPES.PROFILE, data.profile);
								}
							}).catch((err) => {
						this.finishLoading(err);
					}).finally(() => {
						this.finishLoading();
					})
				}
			},
			setAvatar(avatar) {
				this.selectedAvatar = avatar;
			},
			loadInfo() {
				this.loading = true;
				api.info().then((response) => {
					response = response.data;
					this.finishLoading();
					if (response && response.ok) {
						this.user = response.data;
						this.user.profile = response.data.profile || {};
						this.selectedAvatar = this.user.profile.avatar;
					} else {
						this.error = false;
					}
					// eslint-disable-next-line no-unused-vars
				}).catch(err => {
					this.finishLoading();
				}).finally(() => {
					this.finishLoading();
				})
			}
		},
		mounted() {
			this.loadInfo();
		}
	}

</script>
<style lang="scss">
    @import "../../../sass/variables";

    .profile-student__edit {
        .avatars {
            svg {
                width: 70px;
                height: 70px;
                cursor: pointer;
                border: solid 2px $app-green;
                border-radius: 50%;
                margin: 2px;

                &.is--active {
                    border: solid 6px $app-color;
                }
            }
        }
    }
</style>
