<template>
    <div class="profile-student">
        <div class="profile-student-info__container" v-if="!isLoading">
            <div class="picture-profile is-margin-auto mt-5">
                <svg>
                    <use :xlink:href="'#welcome-friends-' + (user.profile && user.profile.avatar)"></use>
                </svg>
            </div>
            <div>
                {{user.firstName}} {{user.lastName}}
            </div>
            <h3 class="title is-6 mt-05"> {{$t('common.notifications')}}</h3>
            <div class="profile-student__notification">

            </div>
        </div>
        <div v-if="isLoading">
            <div class="picture-profile is-margin-auto">

            </div>
            <div class="mb-1 mt-1">

                <app-placeholder :width="50" :classes="'is-pulled-left'"></app-placeholder>
                <app-placeholder :width="50" :classes="'is-pulled-right'"></app-placeholder>
            </div>
            <div class="has-text-left">

                <h3 class="title is-5 mt-05"> {{$t('common.notifications')}}</h3>
                <div class="profile-student__notification">

                    <div v-for="i in 4" v-bind:key="i">
                        <app-placeholder :width="80" :classes="'is-pulled-left'"></app-placeholder>
                        <app-placeholder :classes="'is-mini is-pulled-right'"></app-placeholder>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


	import api from '../../../api/profile'
	import COMMIT_TYPES from "../../../store/commitTypes";

	export default {
		name: 'AppProfile',
		props: {},
		computed: {},
		mounted() {

			this.getInfo();
			this.unsubscribe = this.$store.subscribe((mutation, state) => {
				if (mutation.type === COMMIT_TYPES.PROFILE) {
					this.user.profile = state.user.profile;
				}
				if (mutation.type === COMMIT_TYPES.SET_USER) {
					this.user = state.user;
				}
			})
		},
		data() {
			return {
				user: {},
				isLoading: true,
			}
		},
		methods: {
			finishLoading() {
				this.isLoading = false;
			},
			getInfo() {
				api.info().then((response) => {
					response = response.data;
					this.finishLoading();
					if (response && response.ok) {
						this.user = response.data;
					} else {
						this.error = false;
					}
					// eslint-disable-next-line no-unused-vars
				}).catch(err => {
					this.finishLoading();
				}).finally(() => {
					this.finishLoading();
				})
			}
		},
		beforeDestroy() {
			this.unsubscribe();
		}
	}

</script>
<style lang="scss">
    @import "../../../sass/variables";


    .profile-student {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        .picture-profile {
            border-radius: 50%;
            border: solid 4px $app-green;
            width: 120px;
            height: 120px;

            svg {
                width: 80%;
                height: 100%;
                cursor: pointer;
                border-radius: 50%;
                margin: auto 2px;

                &.is--active {
                    border-color: $app-color;
                }
            }

        }
    }

</style>
