<template>
    <!--Stats cards-->
    <div v-if="!loading">
        <div class="box no-shadow">
            <div v-if="info.data.length">
                <paper-table :editUrl="'/dashboard/t/classes/' + classSchool._id + '/chapters' "
                             :editLink="true"
                             moving-arrow :idKey="'_id'"
                             :title="info.title"
                             :sub-title="info.subTitle"
                             :data="info.data"
                             :columns="info.columns">

                </paper-table>
            </div>
        </div>

        <div class="box">
            <form v-on:submit.prevent="onSubmit">
                <h2 class="title is-6">{{$t('dashboard.classes.list.create.title')}}</h2>

                <fg-input type="hidden"
                          v-model="classSchool._id">
                </fg-input>
                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('dashboard.classes.list.create.name')"
                                  :placeholder="$t('dashboard.classes.list.create.name')"
                                  v-model="chapter.name">
                        </fg-input>
                    </div>
                </div>

                <div class="col-md-4">
                    <fg-input type="text"
                              :label="$t('dashboard.classes.list.create.description')"
                              :placeholder="$t('dashboard.classes.list.create.description')"
                              v-model="chapter.description">
                    </fg-input>
                </div>

                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="text-center">
                        <button type="submit"
                                :disabled="!chapter.name"
                                class="button is-info">
                            {{$t('common.save')}}
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div v-else class="has-text-centered">
        <app-loader></app-loader>
    </div>
</template>
<script>
	import api from '../../../../api/teacher/teacherChapterClass'
	import PaperTable from "../../../UIComponents/PaperTable";

	export default {
		name: 'ChaptersList',
		props: {
			classSchool: Object
		},
		components: {
			PaperTable
		},
		data() {
			return {
				classExists: false,
				creatingNew: false,
				info: {
					title: this.$t('teacher.classes.list_title'),
					columns: [
						{id: "name", label: this.$t('teacher.dashboard.classes.list.table.header.name')},
						{id: "updatedAt", label: this.$t('common.updatedAt')},
						{id: "createdAt", label: this.$t('common.createdAt')},
					],
					data: []
				},
				loading: true,
				refreshList: false,
				chapter: {
					name: '',
					description: '',
					school: null
				}
			}
		},
		methods: {
			loadList() {
				if (this.classObject) {

					this.refreshList = true;
					this.loading = true;
					api.list(this.classObject.id).then((response) => {
						response = response.data;
						if (response && response.ok) {
							this.info.data = response.data;
						}
					}).catch(err => {
						console.log(err);
					}).finally(() => {
						this.refreshList = false;
						this.loading = false;
					})
				}
			},
			onSubmit() {
				let data = JSON.parse(JSON.stringify(this.$data.classSchool));
				api.create(data)
				// eslint-disable-next-line no-unused-vars
						.then((res) => {
							if (res.ok) {
								this.loadList();
							}
							// eslint-disable-next-line no-unused-vars
						}).catch((err) => {
				}).finally(() => {
					this.creatingNew = false;
				})
			}
		},
		mounted() {
			this.loadList();
		}
	}

</script>
<style>

</style>
