<template>
    <div id="tabs-with-content">
        <div class="tabs is-centered">
            <ul>
                <li><a @click="setIndex(0)"
                       v-bind:class="{'is-active' : currentIndex ===  0}">{{$t('settings.chapters')}}</a>
                </li>
                <li><a @click="setIndex(1)"
                       v-bind:class="{'is-active' : currentIndex ===  1}">{{$t('settings.students')}}</a>
                </li>
                <li><a @click="setIndex(2)" v-bind:class="{'is-active' : currentIndex ===  2}">{{$t('settings.advanced')}}</a>
                </li>

            </ul>
        </div>
        <div>
            <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 0}">

            </section>
            <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 1}">

            </section>

            <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 2}">
            </section>
        </div>
    </div>
</template>
<script>

	import api from '../../../../api/teacher/teacherClass.js'
	import ProductsImages from './ProductImages.vue'

	export default {
		components: {
			ProductsImages
		},
		data() {
			return {
				loadingLaunch: false,
				dataLoaded: false,
				saving: false,
				product: {
					name: '',
					description: null,
					_id: '',
					tags: null,
					isLaunched: false
				}
			}
		},
		mounted() {
			this.loadInfo();

		},
		methods: {
			loadInfo() {
				api.info(this.$route.params.id)
						.then(
								response => {
									let data = response.data;
									let brand = data.product;
									this.$data.product = Object.assign({}, this.$data.product, brand);
									this.$data.dataLoaded = true;
								}
						)
						.catch(
								// eslint-disable-next-line no-unused-vars
								(error) => {

								});
			},
			onSubmit() {
				this.saving = true;
				let data = JSON.parse(JSON.stringify(this.$data.product));
				data.tags = data.tags.join('#');
				api.create(data)
						.then((res) => {
							console.log(res);
							this.loadList();

						}).catch((err) => {
					console.log(err);
				}).finally(() => {
					this.saving = false;
				})
			},
			/**
			 *
			 */
			onLaunch() {
				this.$data.loadingLaunch = true;
				api.launch(this.$route.params.id)
						.then((res) => {
							if (res.data.ok) {
								this.$data.product.isLaunched = true;
							}
						}).catch((err) => {
					console.log(err);
				}).finally(() => {
					this.$data.loadingLaunch = false;
				})
			}
		}
	}

</script>
