<template>
    <div class="hero is-fullheight account-container">
        <div class="hero-body">
            <div class="container" v-if="!emailSent">
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <!-- login form -->
                        <form class="box has-text-centered" v-on:submit.prevent="onSubmit">
                            <div class="field">
                                <div class="field-body">
                                    <fg-input type="email"
                                              :label="$t('forgotPassword.email')"
                                              :placeholder="$t('forgotPassword.email')"
                                              v-model="email">
                                    </fg-input>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field-body">
                                    <button type="submit"
                                            v-bind:class="'is-margin-auto button btn-warning  ' + loading">
                                        {{ $t("forgotPassword.sendMeMail") }}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- errors -->
                        <div v-if=responseError class="text-red"><p class="vertical-5p lead">{{responseError}}</p></div>
                    </div>
                </div>
            </div>
            <div class="container has-text-centered" v-if="emailSent">
                <div class="box is-d-inline-block">
                    <p class="has-text-success  p-1">
                        {{ $t("forgotPassword.emailSent") }}
                    </p>
                    <button v-bind:class="'is-margin-auto button btn-warning  ' + loading"
                            @click="resend()">
                        {{ $t("forgotPassword.resend") }}
                    </button>
                </div>
            </div>
        </div>
        <mini-footer></mini-footer>
    </div>
</template>

<script>
	import api from '../../api/accounts'
	import MiniFooter from "../CommonViews/MiniFooter"

	export default {
		name: 'Login',
		components: {
			MiniFooter
		},
		data() {
			return {
				email: '',
				emailSent: false,
				responseError: '',
				loading: ''

			}
		},
		methods: {
			resend() {
				this.emailSent = false;
			},
			onSubmit() {
				const {email} = this;
				if (!email) {
					return;
				}
				this.toggleLoading();
				this.resetResponse();
				this.$store.commit('TOGGLE_LOADING');

				/* Making API call to authenticate a user */
				api
						.forgotPassword({email})
						.then(response => {
							this.toggleLoading();
							let data = response.data;
							if (data.ok) {
								this.emailSent = true;
							}
							/* Checking if error object was returned from the server */
							if (data.error) {
								let errorName = data.error.name;
								if (errorName) {
									this.responseError =
											errorName === 'InvalidCredentialsError'
													? 'Username/Password incorrect. Please try again.'
													: errorName
								} else {
									this.responseError = data.error
								}
							}
						})
						.catch(error => {
							this.$store.commit('TOGGLE_LOADING');
							this.responseError = this.$t('server.error');
							this.toggleLoading()
						})
			},
			toggleLoading() {
				this.loading = this.loading === '' ? this.$t('app.loading') : ''
			},
			resetResponse() {
				this.responseError = ''
			}
		}
	}
</script>

<style>
    .separator {
        margin-top: .5em;
    }

    html,
    body {
        height: 100%;

    }

</style>
