<template>
    <div class="hero is-fullheight account-container">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <!-- login form -->
                        <form v-on:submit.prevent="onSubmit" class="box has-text-centered">
                            <h4 class="title is-5">{{ $t("login.title") }}</h4>
                            <div class="field">
                                <div class="field-body">
                                    <fg-input type="text"
                                              :label="$t('login.email')"
                                              :placeholder="$t('login.email')"
                                              v-model="email">
                                    </fg-input>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field-body">
                                    <fg-input type="password"
                                              :label="$t('login.password')"
                                              :placeholder="$t('login.password')"
                                              v-model="password">
                                    </fg-input>
                                </div>
                            </div>
                            <br/>
                            <!-- errors -->
                            <div v-if="response" class="has-text-weight-bold has-text-danger">
                                <p class="vertical-5p lead">{{response}}</p>
                            </div>

                            <div class="field">
                                <div class="field-body">
                                    <button type="submit"
                                            v-bind:class="'is-margin-auto button btn-warning   ' + loading">{{
                                        $t("login.login")
                                        }}
                                    </button>
                                </div>
                            </div>
                            <div class="text-center separator d-flex justify-content-center">
                                <!-- javascript expression using `v-bind` -->
                                <div class="mx-1">
                                    <router-link v-bind:to="'/accounts/register'">{{ $t("login.register") }}
                                    </router-link>
                                </div>
                                <div class="mx-1">
                                    <router-link v-bind:to="'/accounts/forgot-password'">{{ $t("login.forgetPassword")
                                        }}
                                    </router-link>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <mini-footer></mini-footer>
    </div>
</template>

<script>
	import api from '../../api/accounts'
	import MiniFooter from "../CommonViews/MiniFooter";

	export default {
		name: 'Login',
		components: {
			MiniFooter
		},
		data() {
			return {
				section: 'Login',
				loading: '',
				email: '',
				password: '',
				response: ''
			}
		},
		methods: {
			onSubmit(event) {
				event.stopImmediatePropagation();
				event.preventDefault();
				const {email, password} = this;
				this.toggleLoading();
				this.resetResponse();
				this.$store.commit('TOGGLE_LOADING');
				let query = this.$route.query;

				/* Making API call to authenticate a user */
				api
						.login({email, password})
						.then(response => {
							this.toggleLoading();
							let data = response.data;
							/* Checking if error object was returned from the server */
							if (data.error) {
								let errorName = data.error.name;
								if (errorName) {
									this.response =
											errorName === 'InvalidCredentialsError'
													? 'Username/Password incorrect. Please try again.'
													: errorName
								} else {
									this.response = data.error
								}
								return
							}

							/* Setting user in the state and caching record to the localStorage */
							if (data.user) {
								let user = data.user;
								if (window.localStorage) {
									window.localStorage.setItem('user', JSON.stringify(user));
								}
								let role = user.accountType;
								if (role === "USER") {
									let defaultRedirect = data.redirect ? data.redirect : '/dashboard';
									this.$router.push(query.redirect || defaultRedirect);
								}
								if (role === "TEACHER") {
									let defaultRedirect = '/t/dashboard';
									this.$router.push(query.redirect || defaultRedirect);
								}

								if (role === "ADMIN") {
									let defaultRedirect = '/admin/dashboard';
									this.$router.push(query.redirect || defaultRedirect);
								}
							}
						})
						.catch(error => {
							this.$store.commit('TOGGLE_LOADING');
							console.log(error);
							this.response = this.$t('server.error');
							this.toggleLoading()
						});

				return false;
			},
			toggleLoading() {
				this.loading = this.loading === '' ? this.$t('app.loading') : ''
			}
			,
			resetResponse() {
				this.response = ''
			}
		}
	}
</script>

<style lang="scss">

    .icon-flag {
        color: black;
    }

    #login {
        margin-bottom: 20px;

        h1 {
            font-size: medium;
            text-align: center;
        }

        form, h1 {
            color: black;

            .form-control.border-input {
                border: 1px solid black;
                background: none;
            }
        }
    }

    .separator {
        margin-top: .5em;
    }

    html,
    body {
        height: 100%;

    }

</style>
