<template>
    <div class="hero is-fullheight account-container">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="box is-11-desktop is-8-widescreen p-2">
                        <div class="has-text-centered">
                            <h4 class="title is-5">{{ $t("register.title") }}</h4>
                        </div>
                        <br/>
                        <app-register-from/>
                    </div>
                </div>
            </div>
        </div>
        <mini-footer></mini-footer>
    </div>
</template>

<script>
	import RegisterForm from '../CommonViews/RegisterForm.vue'
	import MiniFooter from "../CommonViews/MiniFooter"

	export default {
		name: 'Login',
		components: {
			'app-register-from': RegisterForm,
			MiniFooter
		},
	}
</script>

<style lang="scss">
    .icon-flag {
        color: black;
    }

    #register {
        margin-bottom: 20px;

        h1 {
            font-size: medium;
            text-align: center;
        }

        form, h1 {
            color: black;

            .form-control.border-input {
                border: 1px solid black;
                background: none;
            }
        }
    }

    .separator {
        margin-top: .5em;
    }

    html,
    body {
        height: 100%;

    }

</style>
