<template>
    <div class="hero is-fullheight account-container">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered" v-if="!successResponse">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <!-- login form -->
                        <form v-on:submit.prevent="onSubmit" class="box has-text-centered">
                            <div class="field">
                                <fg-input type="text"
                                          :label="$t('admin.Schools.list.create.name')"
                                          :placeholder="$t('admin.Schools.list.create.name')"
                                          v-model="school">
                                </fg-input>
                            </div>
                            <div class="field">
                                <fg-input type="text"
                                          :label="$t('admin.Schools.list.create.address')"
                                          :placeholder="$t('admin.Schools.list.create.address')"
                                          v-model="address">
                                </fg-input>
                            </div>
                            <div class="field">
                                <div class="field-body">
                                    <button type="submit"
                                            v-bind:class="'is-margin-auto button btn-warning    ' + loading">{{
                                        $t("common.request.confirm")
                                        }}
                                    </button>
                                </div>
                            </div>
                            <!-- errors -->
                            <div v-if=response>
                                <p class="has-text-danger">{{response}}</p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box is-d-inline-block" v-if="successResponse">
                    <p class="has-text-success  p-1">
                        {{ $t("common.request.success") }}
                    </p>
                    <router-link class="is-margin-auto" v-bind:to="'/dashboard'">
                        {{ $t("common.home") }}
                    </router-link>
                </div>
            </div>
        </div>
        <mini-footer></mini-footer>
    </div>
</template>

<script>
	import api from '../../api/accounts'
	import MiniFooter from "../CommonViews/MiniFooter";
	import SchoolsSelect from "../UIComponents/SchoolsSelect";

	export default {
		name: 'Login',
		components: {
			SchoolsSelect,
			MiniFooter
		},
		data() {
			return {
				loading: '',
				school: '',
				address: '',
				successResponse: null,
				response: null

			}
		},
		mounted() {
			this.token = this.$route.params.token;
		},
		methods: {
			onSubmit(event) {
				event.stopImmediatePropagation();
				event.preventDefault();
				const {school, address} = this;
				this.toggleLoading();
				this.resetResponse();
				this.$store.commit('TOGGLE_LOADING');

				/* Making API call to authenticate a user */
				api
						.requestSchool({school})
						.then(response => {
							this.toggleLoading();
							let data = response.data;
							if (data.ok) {
								this.successResponse = true;
								return;
							}
							/* Checking if error object was returned from the server */
							if (data.error) {
							}
						})
						.catch(error => {
							this.$store.commit('TOGGLE_LOADING');
							this.response = this.$t('server.error');
							this.toggleLoading()
						});

				return false;
			},
			toggleLoading() {
				this.loading = this.loading === '' ? this.$t('app.loading') : ''
			},
			resetResponse() {
				this.response = ''
			}
		}
	}
</script>

<style lang="scss">

    .icon-flag {
        color: black;
    }

    #login {
        margin-bottom: 20px;

        h1 {
            font-size: medium;
            text-align: center;
        }

        form, h1 {
            color: black;

            .form-control.border-input {
                border: 1px solid black;
                background: none;
            }
        }
    }

    .separator {
        margin-top: .5em;
    }

    html,
    body {
        height: 100%;

    }

</style>
