<template>
    <div class="hero is-fullheight account-container">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns" v-if="!successReset">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="box has-text-centered">
                            <div>

                                <!-- login form -->
                                <form @submit.prevent="onSubmit">
                                    <div class="field">
                                        <div class="field-body">
                                            <fg-input type="password"
                                                      :label="$t('resetPassword.password')"
                                                      :placeholder="$t('resetPassword.password')"
                                                      v-model="password">
                                            </fg-input>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="field-body">
                                            <fg-input type="password"
                                                      :label="$t('resetPassword.confirmPassword')"
                                                      :placeholder="$t('resetPassword.confirmPassword')"
                                                      v-model="confirmPassword">
                                            </fg-input>
                                        </div>
                                    </div>
                                    <input type="hidden" :value="token">
                                    <div class="field">
                                        <div class="field-body">
                                            <button type="submit"
                                                    v-bind:class="'is-margin-auto button btn-warning    ' + loading">{{
                                                $t("common.confirm")
                                                }}
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!-- errors -->
                            <div v-if=response>
                                <p class="has-text-danger">{{response}}</p>

                                <router-link class="is-margin-auto" v-bind:to="'/accounts/forgot-password'">{{
                                    $t("forgotPassword.title") }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box is-d-inline-block" v-if="successReset">
                    <p class="has-text-success  p-1">
                        {{ $t("resetPassword.passwordRestSuccess") }}
                    </p>
                    <router-link class="is-margin-auto" v-bind:to="'/accounts/login'">{{ $t("register.login") }}
                    </router-link>
                </div>
            </div>
        </div>
        <mini-footer></mini-footer>
    </div>
</template>

<script>
	import api from '../../api/accounts'
	import MiniFooter from "../CommonViews/MiniFooter";

	export default {
		name: 'Login',
		components: {
			MiniFooter
		},
		data() {
			return {
				section: 'Reset password',
				loading: '',
				password: '',
				confirmPassword: '',
				response: '',
				token: this.$route.query.token,
				successReset: false
			}
		},
		mounted() {
			this.token = this.$route.params.token;
		},
		methods: {
			onSubmit(event) {
				event.stopImmediatePropagation();
				event.preventDefault();
				const {token, password, confirmPassword} = this;
				this.toggleLoading();
				this.resetResponse();
				this.$store.commit('TOGGLE_LOADING');

				/* Making API call to authenticate a user */
				api
						.resetPassword({token, password, confirmPassword})
						.then(response => {
							this.toggleLoading();
							let data = response.data;
							if (data.ok) {
								this.successReset = true;
								return;
							}
							/* Checking if error object was returned from the server */
							if (data.error) {
								let errorName = data.error.name;
								if (errorName) {
									this.response =
											errorName === 'InvalidCredentialsError'
													? 'Username/Password incorrect. Please try again.'
													: errorName
								} else {
									this.response = data.error
								}
							}
						})
						.catch(error => {
							this.$store.commit('TOGGLE_LOADING');
							this.response = this.$t('server.error');
							this.toggleLoading()
						});

				return false;
			},
			toggleLoading() {
				this.loading = this.loading === '' ? this.$t('app.loading') : ''
			},
			resetResponse() {
				this.response = ''
			}
		}
	}
</script>

<style lang="scss">

    .icon-flag {
        color: black;
    }

    #login {
        margin-bottom: 20px;

        h1 {
            font-size: medium;
            text-align: center;
        }

        form, h1 {
            color: black;

            .form-control.border-input {
                border: 1px solid black;
                background: none;
            }
        }
    }

    .separator {
        margin-top: .5em;
    }

    html,
    body {
        height: 100%;

    }

</style>
