<template>
    <div class="columns">
        <div class="column is-5 users">
            <input class="search" placeholder="search .."/>
            <div v-for="i in 4" v-bind:key="i" class="user">
                <app-placeholder :width="200" :classes="'is-pulled-left'"></app-placeholder>
                <app-placeholder :classes="'is-mini is-pulled-right'"></app-placeholder>
            </div>
        </div>

        <div class="column is-7">
            <div id="messages_history">

            </div>
            <div id="message_editor">

            </div>
        </div>
    </div>

</template>

<script>

	export default {
		name: 'Overview',
		data() {
			return {
				currentActiveId: Date.now(),
			}
		}
	}
</script>

<style lang="scss">
    @import "../../../../sass/variables";

    .users {
        input {
            width: 100%;
            padding: 0 .2rem;
            height: 40px;
            min-width: 280px;
        }
        .user {
            width: 100%;
            min-width: 280px;
            height: 30px;
            margin: 10px 0;
        }
    }
</style>
