<template>
    <div class="card" id="pictures_area">
        <div class="header">
            <h4 class="title">{{$t('dashboard.classes.edit.pictures_list.title')}}
                <button v-on:click="openUploader" id="select_files" class="btn btn-danger btn-fill ">
                    <i class="ti-plus"></i> {{$t('common.add')}}
                </button>
            </h4>
        </div>
        <div class="content" id="">
            <div id="progress"></div>
            <div v-for="item in list" class="image-container" v-bind:key="item.id">
                <div @click="load(item)" class="edit">
                    <i class="ti-pencil"></i>
                </div>
                <img class="image" :src="item.src"/>
            </div>
            upload file here
            <form id="files_form">
                <input id="product_picture_file_input" type="file" name="files[]">
            </form>
        </div>

        <picture-modal v-if="showModal" @close="showModal = false">
            <!--
              you can use custom content here to overwrite
              default content
            -->
            <h3 slot="header">custom header</h3>
        </picture-modal>
    </div>
</template>
<script>
	/*const Uppy = require('uppy/lib/core');

    const FileInput = require('uppy/lib/plugins/FileInput')
    const XHRUpload = require('uppy/lib/plugins/XHRUpload')
    const ProgressBar = require('uppy/lib/plugins/ProgressBar')*/

	import api from '../../../../api/teacher/teacherClass.js'
	import PictureModal from './PictureModal.vue'

	const axios = require('axios');
	let $ = window.$;

	export default {
		components: {
			PictureModal
		},
		mounted() {
			// ADD Uppy
			this.$file = $('#product_picture_file_input');
			this.$file.on('change', this.upload);
			this.loadPictures();
		},
		methods: {

			// eslint-disable-next-line no-unused-vars
			load(item) {
				this.$data.showModal = true;
			},
			// eslint-disable-next-line no-unused-vars
			openUploader(event) {
				this.$file.trigger('click');
			},
			upload() {
				axios({
					// Your server script to process the upload
					url: api.getPictureUpload(this.$route.params.id),
					method: 'post',
					success: () => {
						this.loadPictures();
					},
					// Form data
					data: new FormData($('#files_form')[0]),
					// Tell jQuery not to process data or worry about content-type
					// You *must* include these options!
					cache: false,
					contentType: false,
					processData: false,
					withCredentials: true,
					// Custom XMLHttpRequest
					onUploadProgress: function (e) {
						if (e.lengthComputable) {
							$('#progress').attr({
								value: e.loaded,
								max: e.total,
							});
						}
					}
				});
			},
			loadPictures() {
				api.getPictures(this.$route.params.id).then((response) => {
					response = response.data;
					this.$data.list = response.list;
				})
			}
		},
		data() {
			return {
				list: [],
				showModal: false
			}
		}
	}

</script>
<style lang="scss">
    #pictures_area {
        #product_picture_file_input {
            position: absolute;
            z-index: 0;
            width: 0;
            height: 0;
            border: none;
        }

        .image-container {
            display: inline-block;
            position: relative;
            padding: 1px;

            .edit {
                top: 10px;
                right: 10px;
                width: 30px;
                background: white;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px blue;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                color: blue;
                cursor: pointer;
                z-index: 1;

            }
        }

        .image {
            height: 180px;
            width: 180px;
            border-radius: 6px;
        }
    }
</style>
