<template>
    <div class="moving-arrow" :style="arrowStyle">
    </div>
</template>
<script>
	export default {
		props: {
			moveY: {
				type: Number,
				default: 0
			}
		},
		computed: {
			/**
			 * Styles to animate the arrow
			 * @returns {{transform: string}}
			 */
			arrowStyle() {
				return {
					transform: `translate3d(0px, ${this.moveY}px, 0px)`
				}
			}
		}
	}

</script>
<style lang="scss">
    $bg-nude: #f4f3ef !default;
    @import "../../../sass/variables";


    .moving-arrow {
        height: 25px;
        background: $app-color;
        width: 4px;
        position: absolute;
        right: -6%;
        top: 0;
        -webkit-transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
        transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
        border-radius: 3px;
    }
</style>
