<template>
    <div class="side-bar--teacher">
        <aside class="menu">
            <ul class="menu-list is-relative">
                <li>
                    <router-link v-bind:to="'/dashboard/t'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_apps"></use>
                        </svg>
                        {{ $t("teacher.Dashboard.SideBar.Dashboard") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/dashboard/t/classes'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_folder-open"></use>
                        </svg>
                        {{ $t("teacher.Dashboard.SideBar.Classes") }}
                    </router-link>
                </li>

                <li>
                    <router-link v-bind:to="'/dashboard/t/resources'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_briefcase"></use>
                        </svg>
                        {{ $t("teacher.Dashboard.SideBar.Resources") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/dashboard/t/planning'">

                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_calendar"></use>
                        </svg>
                        {{ $t("teacher.Dashboard.SideBar.Planning") }}
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/dashboard/t/chat'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_chatbubbles"></use>
                        </svg>
                        {{ $t("teacher.Dashboard.SideBar.Chat") }}
                    </router-link>
                </li>
                <li>

                    <router-link v-bind:to="'/dashboard/t/settings'">

                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_settings"></use>
                        </svg>
                        {{ $t("teacher.Dashboard.SideBar.Settings") }}
                    </router-link>
                </li>


            </ul>
        </aside>
    </div>
</template>
<style lang="scss">
    .side-bar {
        background: white;
        padding: 1rem;
        border-right: solid 2px #eeedf2;
        position: relative;
    }

    .logo-container {
        height: 5rem;
        padding: .5em .75em;
    }
</style>
<script>
	import MovingArrow from './MovingArrow.vue'

	var $ = window.$;

	export default {
		props: {},
		components: {
			MovingArrow
		},
		computed: {/*
			sidebarClasses() {
				if (this.type === 'sidebar') {
					return 'sidebar'
				} else {
					return 'collapse navbar-collapse off-canvas-sidebar'
				}
			},
			navClasses() {
				if (this.type === 'sidebar') {
					return 'nav'
				} else {
					return 'nav navbar-nav'
				}
			},*/
			/**
			 * Styles to animate the arrow near the current active sidebar link
			 * @returns {{transform: string}}
			 */
			arrowMovePx() {
				let items = $('.menu-list li');
				let firstLink = items.length && items[0];
				if (firstLink) {
					return ($(firstLink).height() + 10) * this.activeLinkIndex;
				}
			}
		},
		data() {
			return {
				activeLinkIndex: 0,
				positionX: 0,
				windowWidth: 0,
				isWindows: false,
				hasAutoHeight: false
			}
		},
		methods: {
			findActiveLink() {
				$('.menu-list a').each((index, element) => {
					if (element) {
						let found = element.href.replace(location.origin, '') === this.$route.path;
						if (found) {
							console.log('############');
							this.activeLinkIndex = index;
						}
					}

				})
			}
		},
		mounted() {
			this.findActiveLink()
		},
		watch: {
			$route: function (/*newRoute, oldRoute*/) {
				this.findActiveLink()
			}
		}
	}

</script>
<style lang="scss">
    @import "../../../sass/variables";

    .side-bar--teacher {
        height: 100%;
        padding: 1rem .5rem;


        .menu-list {
            a {
                display: flex;
                align-items: center;
                margin: 8px 0;

                .icon {
                    stroke: grey;
                    fill: grey;
                    --primary: grey;
                    --secondary: grey;
                    margin: 0 5px;
                }

                &.router-link-exact-active {
                    background: none;
                    color: $app-color;

                    .icon {
                        stroke: $app-color;
                        fill: $app-color;
                        --primary: $app-color;
                        --secondary: $app-color;
                    }

                }
            }
        }
    }
</style>
