<template>
    <header class="app-header">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <router-link class="brand has-text-primary has-text-weight-bold" v-bind:to="'/'">Keedo
                        </router-link>
                    </div>
                    <div class="navbar-burger burger" data-target="mainNav"><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="navbar-menu" id="mainNav">
                    <div class="navbar-end ">

                        <!--    <a href="/" class="navbar-item">Schools</a>
                            <a href="/" class="navbar-item">Teachers</a>
                            <a href="/" class="navbar-item">Parents</a>
                            <a href="/library" class="navbar-item">
                                <span class="has-text-warning">Activities</span>
                            </a>
    -->
                        <a href="/#features" class="navbar-item">
                            <span class="has-text-primary">{{ $t("Documentation") }}</span>
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Compte
                            </a>
                            <div class="navbar-dropdown is-right">
                                <a class="navbar-item" href="/company/security-and-data">
                                    Sécurité et protection des données
                                </a> <a class="navbar-item" href="/company/contact">
                                <span class="translation_missing" title="translation missing: fr.Contact">Contact</span>
                            </a> <a class="navbar-item" href="/company/team">
                                <span class="translation_missing" title="translation missing: fr.Team">Team</span>
                            </a> <a class="navbar-item" href="/company/documentation">
                                <span class="translation_missing" title="translation missing: fr.Documentation">Documentation</span>
                            </a> <a class="navbar-item" href="/company/faq">
                                <span class="translation_missing" title="translation missing: fr.FAQ">Faq</span>
                            </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" rel="nofollow" data-method="delete" href="/accounts/sign_out">
                                    Log out
                                </a></div>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>
</template>
<script>
	export default {
		computed: {
			routeName() {
				const {name} = this.$route
				return this.capitalizeFirstLetter(name)
			}
		},
		data() {
			return {
				activeNotifications: false
			}
		},
		methods: {
			capitalizeFirstLetter(string) {
				return string.charAt(0).toUpperCase() + string.slice(1)
			},
			toggleNotificationDropDown() {
				this.activeNotifications = !this.activeNotifications
			},
			closeDropDown() {
				this.activeNotifications = false
			},
			toggleSidebar() {
				this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
			},
			hideSidebar() {
				this.$sidebar.displaySidebar(false)
			}
		}
	}

</script>
<style>
    .navbar .navbar-nav > li > a i {
        margin: 0 5px;
    }

</style>
