<template>
    <header class="app-student-header has-background-danger">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-item">

                        <router-link class="brand" v-bind:to="'/'">Keedo</router-link>
                    </div>
                    <div class="navbar-burger burger" data-target="mainNav"><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="navbar-menu" id="mainNav" v-if="showAmITeacher">
                    {{$t('header.am_i_teacher?')}}
                    <button @click="isTeacher(true)">{{$t('common.yes')}}</button>
                    <button @click="isTeacher(false)">{{$t('common.no')}}</button>
                </div>
            </div>
        </nav>
    </header>
</template>
<script>

	import LOCAL_STORAGE_KEYS from "../../../store/localStorageKeys";

	export default {
		name: 'LayoutHeader',
		data() {
			return {
				showAmITeacher: !window.localStorage.getItem(LOCAL_STORAGE_KEYS.AM_I_TEACHER_QUESTION)
			}
		},
		methods: {
			isTeacher(ok) {
				if (!ok) {
					window.localStorage.setItem(LOCAL_STORAGE_KEYS.AM_I_TEACHER_QUESTION, 'true');
					this.showAmITeacher = true;
				} else {
					this.$router.push('/accounts/request-teacher-profile/');
				}
			}
		}
	}
</script>
