<template>
    <div id="student_dashboard">
        <layout-header/>
        <section class="hero container">
            <div class="columns dashboard-container">
                <div class="column is-2">
                    <side-bar>

                    </side-bar>
                </div>
                <div class="column is-7">
                    <router-view></router-view>
                </div>
                <div class="column is-3">
                    <app-profile></app-profile>
                </div>
            </div>
            <mini-footer></mini-footer>
        </section>
    </div>
</template>
<script>

	import SideBar from './SideBar.vue'
	import LayoutHeader from './LayoutHeader'
	import MiniFooter from "../../CommonViews/MiniFooter";
	import AppProfile from "../Views/Profile";

	export default {
		components: {
			AppProfile,
			MiniFooter,
			LayoutHeader,
			SideBar
		},
		/**
		 * Chart data used to render stats, charts. Should be replaced with server data
		 */
		data() {
			return {
				brandExists: false,
				loading: true,
				activityChart: {},
				statsCards: {}
			}
		},
		mounted() {

		}
	}

</script>
<style lang="scss">
    #student_dashboard {
        .hero {
            // background: orange;
            max-width: 100%;
            margin: 0 !important;

        }

        .dashboard-container {
            margin: 0;
        }
    }
</style>
