<template>
    <div class="side-bar--student">
        <aside class="menu">
            <ul class="menu-list is-relative">
                <li>
                    <router-link v-bind:to="'/dashboard/overview'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_apps"></use>
                        </svg>
                        <span class="sidebar-label">{{ $t("student.Dashboard.SideBar.Dashboard") }}</span>
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="'/dashboard/classes'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_folder-open"></use>
                        </svg>
                        <span class="sidebar-label"> {{ $t("student.Dashboard.SideBar.Classes") }}</span>
                    </router-link>
                </li>

                <li>
                    <router-link v-bind:to="'/dashboard/chat'">
                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_chatbubbles"></use>
                        </svg>
                        <span class="sidebar-label"> {{ $t("student.Dashboard.SideBar.Chat") }}</span>
                    </router-link>
                </li>

                <li>
                    <router-link v-bind:to="'/dashboard/planning'">

                        <svg viewBox="0 0 512 512" class="icon">
                            <use xlink:href="#icon_calendar"></use>
                        </svg>
                        <span class="sidebar-label"> {{ $t("student.Dashboard.SideBar.Planning") }}</span>
                    </router-link>
                </li>

            </ul>
        </aside>
        <div class="">

        </div>
        <ul class="menu-list is-relative">
            <li>
                <router-link v-bind:to="'/dashboard/student/profile'">
                    <svg viewBox="0 0 512 512" class="icon">
                        <use xlink:href="#icon_person"></use>
                    </svg>
                    <span class="sidebar-label">{{ $t("student.Dashboard.SideBar.Profile") }}</span>
                </router-link>
            </li>
            <li>
                <router-link v-bind:to="'/dashboard/student/settings'">

                    <svg viewBox="0 0 512 512" class="icon">
                        <use xlink:href="#icon_settings"></use>
                    </svg>
                    <span class="sidebar-label">{{ $t("student.Dashboard.SideBar.Settings") }}</span>
                </router-link>
            </li>
        </ul>
    </div>
</template>
<style lang="scss">
    .side-bar--student {
        position: relative;

        aside {
            flex-grow: 1;
        }

        .menu-list {
            color: white;

            a {
                .icon {
                    stroke: white;
                    fill: white;
                    --primary: white;
                    --secondary: white;
                    margin: 0 5px;
                }
            }
        }

    }
</style>
<script>

	var $ = window.$;

	export default {
		props: {},
		components: {},
		computed: {/*
			sidebarClasses() {
				if (this.type === 'sidebar') {
					return 'sidebar'
				} else {
					return 'collapse navbar-collapse off-canvas-sidebar'
				}
			},
			navClasses() {
				if (this.type === 'sidebar') {
					return 'nav'
				} else {
					return 'nav navbar-nav'
				}
			},*/
			/**
			 * Styles to animate the arrow near the current active sidebar link
			 * @returns {{transform: string}}
			 */
			arrowMovePx() {
				let items = $('.menu-list li');
				let firstLink = items.length && items[0];
				if (firstLink) {
					return ($(firstLink).height() + 10) * this.activeLinkIndex;
				}
			}
		},
		data() {
			return {
				activeLinkIndex: 0,
				positionX: 0,
				windowWidth: 0,
				isWindows: false,
				hasAutoHeight: false
			}
		},
		methods: {
			findActiveLink() {
				$('.menu-list a').each((index, element) => {
					if (element) {
						let found = element.href.replace(location.origin, '') === this.$route.path;
						if (found) {
							console.log('############');
							this.activeLinkIndex = index;
						}
					}

				})
			}
		},
		mounted() {
			this.findActiveLink()
		},
		watch: {
			$route: function (/*newRoute, oldRoute*/) {
				this.findActiveLink()
			}
		}
	}

</script>
<style lang="scss">
    @import "../../../sass/variables";

    .side-bar--student {
        min-height: 100vh;
        padding: 0 .5rem;

        .menu-list {
            a {
                display: flex;
                align-items: center;
                margin: 8px 0;
                color: black;

                .icon {
                    stroke: black;
                    fill: black;
                    --primary: black;
                    --secondary: black;
                    margin: 0 5px;
                }

                &.router-link-exact-active {
                    background: none;
                    color: $app-green;

                    .icon {
                        stroke: $app-green;
                        fill: $app-green;
                        --primary: $app-green;
                        --secondary: $app-green;
                    }

                }
            }
        }
    }

</style>
