<template>
    <select :change="onChange()" v-model="selected" :class="className">
        <option></option>
        <option v-for="item in list"
                :key="item._id"
                :value="item._id">
            {{getName(item)}}
        </option>
    </select>
</template>
<script>
	import api from '../../api/schools'

	export default {
		name: 'CategoriesSelect',
		data() {
			return {
				list: [],
				selected: Object
			}
		},
		props: {
			className: String,
			defaultValue: String,
			onChangeCb: Function,
		},
		mounted() {
			api.list().then((response) => {
				this.$data.list = response.data;
				this.$data.selected = this.$props.defaultValue;
			})
		},
		methods: {
			onChange() {
				this.$props.onChangeCb(this.$data.selected)
			},
			/**
			 * return the name of current category
			 * @param item
			 * @returns {*}
			 */
			getName(item) {
				let locale = this.$i18n.locale;
				let key = 'name';
				if (locale !== "en") {
					return item[[key, locale].join('_')];
				}
				return item[key];
			}
		}
	}

</script>
<style>

</style>
