<template>
    <div>
        <div class="header">
            <slot name="header">
                <h4 class="title is-6">{{title}}</h4>
                <p class="category">{{subTitle}}</p>
            </slot>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table" :class="tableClass">
                <thead>
                <th v-for="column in columns" v-bind:key="column.id">{{column.label || column}}</th>
                <th v-if="editLink || viewUrl">
                    #
                </th>
                </thead>
                <tbody>
                <tr v-for="item in data" v-bind:key="item.id">
                    <td v-for="column in columns" v-bind:key="column.id" v-if="hasValue(item,  column.id || column)">
                        {{itemValue(item, column.id || column)}}
                    </td>
                    <td v-if="editLink">
                        <router-link v-bind:to="editUrl + item[idKey]"><i class="ti-pencil-alt"></i>
                            {{$t('common.edit')}}
                        </router-link>
                    </td>
                    <td v-if="viewUrl">
                        <router-link v-bind:to="viewUrl + item[idKey]"><i class="ti-pencil-alt"></i>
                            {{$t('common.view')}}
                        </router-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			columns: Array,
			data: Array,
			editUrl: String,
			viewUrl: String,
			editLink: {
				type: Boolean,
				default: false
			},
			idKey: {
				type: String,
				default: 'id'
			},
			type: {
				type: String, // striped | hover
				default: 'striped'
			},
			title: {
				type: String,
				default: ''
			},
			subTitle: {
				type: String,
				default: ''

			}
		},
		computed: {
			tableClass() {
				return `table-${this.type}`
			}
		},
		methods: {
			hasValue(item, column) {
				return item[column.toLowerCase()] !== 'undefined' || item[column] !== 'undefined'
			},
			itemValue(item, column) {
				return item[column.toLowerCase()] || item[column]
			}
		}
	}

</script>
<style>

</style>
