<template>
    <div class="phone-case-out">
        <div class="phone-inner">
            <div class="phone-inner-top">
                ss
            </div>
            <div class="phone-inner-content">
                <slot></slot>
            </div>
            <div class="phone-inner-top">
                ss
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'AppIcons',
    }
</script>
<style lang="scss">
    .phone-case-out {
        width: 100%;
        text-align: center;
        margin: 20px;
    }
    .phone-inner {
        margin: auto;
        height: 450px;
        width: 250px;
        background: white;
        flex-direction: column;
        border-radius: 20px;
        -webkit-box-shadow: 10px 10px 124px -7px rgba(44,64,199,0.27);
        -moz-box-shadow: 10px 10px 124px -7px rgba(44,64,199,0.27);
        box-shadow: 10px 10px 124px -7px rgba(44,64,199,0.27);
        display: flex;
        .phone-inner-top{

        }
        .phone-inner-bottom{

        }
        .phone-inner-content{
            margin: 17px;
            border-radius: 4px;
            background: white;
            border : solid .5px rgba(0, 0, 0, 0.14);
            flex: 1;

        }
    }
</style>