<template>
    <div class="select">
        <select
                :placeholder="$t('accounts.request.select_school')"
                :change="onChange()" v-model="selected" :class="className" class="select">
            <option></option>
            <option v-for="item in list"
                    :key="item._id"
                    :value="item._id">
                {{item.name}}
            </option>
        </select>
    </div>
</template>
<script>
	import api from '../../api/schools'

	export default {
		name: 'SchoolsSelect',
		data() {
			return {
				list: [],
				selected: Object
			}
		},
		props: {
			className: String,
			defaultValue: String,
			onChangeCb: Function,
		},
		mounted() {
			api.list().then((response) => {
				this.$data.list = response.data;
				this.$data.selected = this.$props.defaultValue;
			})
		},
		methods: {
			onChange() {
				this.$props.onChangeCb(this.$data.selected)
			}
		}
	}

</script>
<style>

</style>
