<template>
    <div id="tabs-with-content">
        <div class="tabs is-centered">
            <ul>
                <li><a @click="setIndex(0)"
                       v-bind:class="{'is-active' : currentIndex ===  0}">{{$t('settings.account')}}</a>
                </li>
                <li><a @click="setIndex(1)" v-bind:class="{'is-active' : currentIndex ===  1}">{{$t('settings.advanced')}}</a>
                </li>

            </ul>
        </div>
        <div>
            <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 0}">
                <form v-on:submit.prevent="logOut">
                    <button>{{$t('settings.logout')}}</button>
                </form>
            </section>
            <section class="tab-content" v-bind:class="{'is-active' : currentIndex === 1}">

                <form>
                    <button></button>
                </form>
            </section>
        </div>
    </div>
</template>
<script>
	import api from '../../../../api/accounts'

	export default {
		name: 'settings',
		data() {
			return {
				currentIndex: 0
			}
		},
		methods: {
			setIndex(index) {
				this.currentIndex = index;
			},
			logOut() {
				/* Making API call to authenticate a user */
				api
						.logout()
						.then(response => {
							let data = response.data;
							if (data.ok) {
								this.$router.push('/accounts/login');
							}
						})
						.catch(err => {

						})
			}
		},
		mounted() {

		}
	}
</script>
