<template>
    <div class="container">
        Admin dashboard
    </div>
</template>
<script>
	export default {
		components: {},
		/**
		 * Chart data used to render stats, charts. Should be replaced with server data
		 */
		data() {
			return {}
		},
		mounted() {

		}
	}

</script>
<style lang="scss">
    .container {

    }
</style>
