<template>
    <div id="app_welcome_container">
        <Icons/>
        <div class="hero is-fullheight is-default is-bold">
            <Header/>
            <div class="hero-body">
                <div class="container">
                    <div class="columns  is-vcentered">
                        <div class="column is-5 is-offset-1 ">
                            <h1 class="title is-1 is-bold is-spaced is-color-app-primary"
                                id="hero_title"
                                :data-text="$t('welcome.hero.title')">
                            </h1>
                            <h2 class="subtitle is-6 is-muted">
                                {{$t('welcome.hero.subtitle')}}
                            </h2>
                        </div>
                        <div class="column is-5">
                            <CirclesSVG/>
                            <!--                            <figure class="image is-4by3 rotate">-->
                            <!--                                <img src="/illustrations/wave-bottom-with-dots.svg" alt="Description">-->
                            <!--                            </figure>-->
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <section class="section is-medium">
            <div class="container">
                <div class="title-wrapper has-text-centered">
                    <h2 class="title is-2">{{$t('welcome.heros.title')}}</h2>
                    <h3 class="subtitle is-5 is-muted">{{$t('welcome.heros.subtitle')}}</h3>
                    <div class="divider is-centered"></div>
                </div>

                <div class="columns is-vcentered side-feature mt-60">
                    <div class="column is-4 is-offset-2">
                        <h3 class="title is-3 mb-10 is-title-reveal"
                        >{{$t('welcome.heros.connection.title')}}</h3>
                        <p class="subtitle is-5 is-muted">{{$t('welcome.heros.connection.subtitle')}}</p>
                    </div>
                    <div class="column is-5 has-text-centered">
                        <img src="/illustrations/features/circles.svg" alt="">
                    </div>
                </div>

                <div class="columns is-vcentered side-feature mt-60">
                    <div class="column is-5 is-offset-1">
                        <img src="/illustrations/features/undraw_moonlight_5ksn.svg" alt="">
                    </div>
                    <div class="column is-4 is-offset-1">
                        <h3 class="title is-3 mb-10 is-title-reveal">{{$t('welcome.heros.creativity.title')}}</h3>
                        <p class="subtitle is-5 is-muted">{{$t('welcome.heros.creativity.subtitle')}}</p>
                    </div>
                </div>
            </div>
        </section>
        <Schools/>
        <Classes/>
        <Pricing/>
        <about-fr v-if="$i18n.locale == 'fr'"></about-fr>
        <about-ar v-if="$i18n.locale == 'ar'"></about-ar>
        <Footer/>
    </div>

</template>

<script>
	import Footer from './CommonViews/Footer.vue'
	import Header from './CommonViews/Header.vue'
	import AboutFr from './Welcome/about/fr.vue'
	import AboutAr from './Welcome/about/ar.vue'
	import Schools from './Welcome/Schools.vue'
	import Pricing from './Welcome/Pricing.vue'
	import Classes from './Welcome/Classes.vue'
	import CirclesSVG from './Welcome/circles-shape.svg'
	import WelcomeStories from './Welcome/stories'
	import AppSearch from './SDashboard/AppSearch.vue'
	import Icons from './UIComponents/Icons.vue'

	let $ = window.$;
	let anime = window.anime;

	export default {
		name: 'Welcome',
		components: {
			Footer,
			Header,
			AppSearch,
			AboutAr,
			AboutFr,
			Schools,
			Pricing,
			Classes,
			Icons,
			WelcomeStories,
			CirclesSVG
		},
		data: () => {
			return {}
		},
		methods: {
			onSearch: function (query) {
				this.$router.replace("/brands?q=" + query);
			}
		},
		mounted() {
			let $title = $("#hero_title");
			let title = $title.data('text').split('');
			title.forEach((index) => {
				$title.append("<span class='letter'>" + index + "</span>")
				//$(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
				//$(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
			});
			anime.timeline({loop: false})
					.add({
						targets: '.letter',
						scale: [4, 1],
						opacity: [0, 1],
						translateZ: 0,
						easing: "easeOutExpo",
						duration: 1200,
						delay: function (el, i) {
							return 180 * i;
						}
					}).add({
				targets: '.ml2',
				opacity: 0,
				duration: 1000,
				easing: "easeOutExpo",
				delay: 1000
			});
		}
	}
</script>

<style lang="scss">

    .section .subtitle.is-muted {
        margin-top: 20px;
        color: #999;
    }

    .rotate {
        animation: rotate 50s linear infinite;
        transform-box: fill-box;
        transform-origin: center;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

</style>
