<template>
    <section id="about" class="section is-medium has-text-centered lighthouse-back">
        <div class="container">
            <h2 class="title is-2">عنا</h2>
                          keedo
            هي منصة لادارة الفصول والتواصل مع التلاميذ  تم إنشاؤها بواسطة   380squares  <br/>
            في 380squares، نأمن بأن التكنولوجيا يجب أولا أن تساعد  في حل المشاكل في المجتمع.
            مزيد من التفاصيل <a href="https://www.380squares.xyz" target="_blank"> 380squares </a>
        </div>
    </section>

</template>

<script>
	export default {
		name: 'About',
	}
</script>

<style lang="scss">

    .lighthouse-back {
        background-image: url('/illustrations/features/items-opacity.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }

</style>
