<template>
    <section class="section is-medium has-text-centered lighthouse-back">
        <div class="container">
            <h2 class="title is-2">À propos de nous</h2>
            Keedo est une solution éducative créée par 380Squares.<br/>
            À 380 Squares, nous croyons que l'informatique devrait aider à résoudre les plus principaux problèmes de la société.<br/>
            Plus de détails sur <a href="https://www.380squares.xyz" target="_blank"> 380squares </a>
        </div>
    </section>

</template>

<script>
	export default {
		name: 'About',
	}
</script>

<style lang="scss">

    .lighthouse-back {
        background-image: url('/illustrations/features/items-opacity.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }

</style>
