<template>

    <!--Stats cards-->
    <div v-if="!loading">
        <div class="box no-shadow">
            <div v-if="!refreshList">
                <div v-if="info.data.length">
                    <paper-table :viewUrl="'/admin/schools/'"
                                 :idKey="'_id'"
                                 :title="info.title"
                                 :sub-title="info.subTitle"
                                 :data="info.data"
                                 :columns="info.columns">

                    </paper-table>
                </div>
            </div>
            <div v-else>
                <div class="has-text-centered">
                    <app-loader></app-loader>
                </div>
            </div>
        </div>

        <div class="box">
            <form v-on:submit.prevent="onSubmit">
                <h2 class="title is-6">{{$t('admin.Schools.list.create.create_new')}}</h2>

                <fg-input type="hidden"
                          v-model="school._id">
                </fg-input>
                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('admin.Schools.list.create.name')"
                                  :placeholder="$t('admin.Schools.list.create.name')"
                                  v-model="school.name">
                        </fg-input>
                    </div>
                </div>
                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('admin.Schools.list.create.description')"
                                  :placeholder="$t('admin.Schools.list.create.description')"
                                  v-model="school.description">
                        </fg-input>
                    </div>
                </div>

                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('admin.Schools.list.create.address')"
                                  :placeholder="$t('admin.Schools.list.create.address')"
                                  v-model="school.address">
                        </fg-input>
                    </div>
                </div>
                <div class="field">
                    <div class="field-body">
                        <fg-input type="text"
                                  :label="$t('admin.Schools.list.create.addressLat')"
                                  :placeholder="$t('admin.Schools.list.create.addressLat')"
                                  v-model="school.lat">
                        </fg-input>
                        <fg-input type="text"
                                  :label="$t('admin.Schools.list.create.addressLat')"
                                  :placeholder="$t('admin.Schools.list.create.addressLat')"
                                  v-model="school.lng">
                        </fg-input>
                    </div>
                </div>


                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="text-center">
                        <button type="submit"
                                :disabled="!(school.name && school.address && school.lat && school.lng)"
                                class="button is-info">
                            {{$t('dashboard.editClassForm.save')}}
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div v-else>
        <div class="has-text-centered">
            <app-loader></app-loader>
        </div>
    </div>
</template>
<script>
	import api from '../../../../api/admin/schools'
	import PaperTable from '../../../UIComponents/PaperTable.vue'

	export default {
		components: {
			PaperTable
		},
		data() {
			return {
				classExists: false,
				creatingNew: false,
				info: {
					title: this.$t('admin.Schools.list.title'),
					columns: [
						{id: "name", label: this.$t('admin.Schools.list.table.header.name')},
						{id: "description", label: this.$t('admin.Schools.list.table.header.description')},
						{id: "address", label: this.$t('admin.Schools.list.table.header.address')},
						{id: "createdAt", label: this.$t('admin.Schools.list.table.header.created_at')},
						{id: "updatedAt", label: this.$t('admin.Schools.list.table.header.updated_at')}
					],
					data: []
				},
				loading: true,
				refreshList: false,
				school: {
					name: '',
					description: '',
					lat: null,
					lng: null,
					address: null
				}
			}
		},
		methods: {
			loadList() {
				this.refreshList = true;
				this.loading = true;
				api.list().then((response) => {
					response = response.data;
					if (response && response.ok) {
						this.info.data = response.data;
					}
				}).catch(err => {
					console.log(err);
				}).finally(() => {
					this.refreshList = false;
					this.loading = false;
				})
			},
			onSubmit() {
				let data = JSON.parse(JSON.stringify(this.$data.school));
				api.create(data)
				// eslint-disable-next-line no-unused-vars
						.then((res) => {
							this.loadList();

							// eslint-disable-next-line no-unused-vars
						}).catch((err) => {
				}).finally(() => {
					this.creatingNew = false;
				})
			}
		},
		mounted() {
			this.loadList();
		}
	}

</script>
<style>

</style>
