<template>
    <div class="app-loader has-text-centered">
        <svg viewBox="0 0 512 512" class="icon"><use xlink:href="#icon_bike"></use></svg>
    </div>
</template>
<script>
	export default {
		name: 'app-loader',
	}
</script>
<style lang="scss">
    .app-loader {

        .icon {
            stroke: brown;
            fill: brown;
            --primary: brown;
            --secondary: #45c9de;
            width: 50px;
            height: 50px;
        }
    }
</style>
