<template>
    <div class="container">
        <div>
            Blog list
        </div>


        <router-link v-bind:to="'blog/hello'" class="title">
            Hello
        </router-link>
    </div>
</template>
<script>
	export default {
		components: {},
		/**
		 * Chart data used to render stats, charts. Should be replaced with server data
		 */
		data() {
			return {}
		},
		mounted() {

		}
	}

</script>
<style lang="scss">
    .container {

    }
</style>
