<template>
    <div>
        <calendar-week></calendar-week>
    </div>
</template>
<script>
	import tasksApi from '../../../../api/tasks'
	import classesApi from '../../../../api/classes'
	import CalendarWeek from "../../../UIComponents/Calendar/CalendarWeek";

	export default {
		components: {CalendarWeek},
		data() {
			return {
				tasks: [],
				classes: [],
				loading: true,
				error: false
			}
		},
		methods: {
			finishLoading(err) {
				this.error = err;
				this.loading = false;
			},
			loadTasksList() {
				this.loading = true;
				tasksApi.list().then((response) => {
					response = response.data;
					this.finishLoading();
					if (response && response.ok) {
						this.tasks = response.data;
					} else {
						this.error = false;
					}
				}).catch(err => {
					this.finishLoading(err);
				}).finally(() => {
					this.finishLoading();
				})
			},
			loadClassesList() {
				this.loading = true;
				classesApi.list().then((response) => {
					response = response.data;
					this.finishLoading();
					if (response && response.ok) {
						this.classes = response.data;
					} else {
						this.error = false;
					}
				}).catch(err => {
					this.finishLoading(err);
				}).finally(() => {
					this.finishLoading();
				})
			}
		},
		mounted() {
			this.loadClassesList();
			this.loadTasksList();
		}
	}

</script>
<style>

</style>
