<template>
    <div>
        <!--Stats cards-->
        <div v-if="!loading">
            <div class="box no-shadow">
                <h2 class="title is-6">{{$t('student.Classes.list_title')}}</h2>
                <div v-if="data.length">
                    <div v-for="item in data" v-bind:key="item.id" class="badge">
                        {{item.name}}
                    </div>
                </div>
                <div v-else>
                    {{$t('common.list_empty')}}
                </div>
            </div>
        </div>
        <div v-else>
            <app-loader></app-loader>
        </div>
    </div>
</template>
<script>
	import api from '../../../../api/classes'

	export default {
		data() {
			return {
				data: [],
				loading: true,
				error: false
			}
		},
		methods: {
			finishLoading() {
				this.error = false;
				this.loading = false;
			},
			loadList() {
				this.loading = true;
				api.list().then((response) => {
					response = response.data;
					this.finishLoading();
					if (response && response.ok) {
						this.data = response.data;
					} else {
						this.error = false;
					}
                  // eslint-disable-next-line no-unused-vars
				}).catch(err => {
					this.finishLoading();
				}).finally(() => {
					this.finishLoading();
				})
			}
		},
		mounted() {
			this.loadList();
		}
	}

</script>
<style>

</style>
