<template>
    <div :class="'loading-placeholder '+ classes" :style="{ width : width + 'px'}"></div>
</template>

<script>
	export default {
		name: "appPlaceholder",
		props: {
			classes: String,
			width: {
				type: Number,
				default: 20
			}
		},
	}
</script>

<style scoped lang="scss">
    @keyframes aniVertical {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .loading-placeholder {
        animation: aniVertical 3s ease;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        opacity: 0;
        border-radius: 8px;
        background: #d9d9d9;
        height: 1rem;
        margin: 5px;

        &.is-mini {
            width: 1rem;
        }

    }
</style>
