<template>
    <div id="app" :class="{'is-arabic'  : $i18n.locale == 'ar'}">
        <div class="has-text-centered has-background-danger notification has-text-white is-rtl " v-if="!hideDevBanner">
            {{$t('common.date_notice')}}
            <span class="notification-dismiss" @click="hideDevBannerEvent()">x</span>
        </div>
        <div class="has-text-centered has-background-danger notification has-text-white is-rtl "
             v-if="!hideCovidBanner">
            {{$t('common.covid_notice_1')}} <a class=" has-text-black is-lowercase"
                                               href="mailto:fathallah.houssem@gmail.com?subject=[COVID] free account">{{$t('common.covid_notice_contact')}} </a>
            {{$t('common.covid_notice_2')}}
            <span class="notification-dismiss" @click="hideCovidBannerEvent()">x</span>
        </div>

        <app-icons/>
        <router-view></router-view>
    </div>
</template>

<script>
	import Icons from './components/UIComponents/Icons.vue'
	import COMMIT_TYPES from "./store/commitTypes";
	import LOCAL_STORAGE_KEYS from "./store/localStorageKeys";

	const COVIDBANNER = 'covid_banner_locale_storage';
	const DEVBANNER = 'dev_mode';
	export default {
		name: 'App',
		data() {
			return {
				section: 'Head',
				displayBanner: true,
				hideCovidBanner: window.localStorage.getItem(COVIDBANNER),
				hideDevBanner: window.localStorage.getItem(COVIDBANNER)
			}
		},
		components: {
			'app-icons': Icons
		},
		mounted() {
			this.resetBanner();
		},
		methods: {
			logout() {
				this.$store.commit(COMMIT_TYPES.SET_USER, null);
				this.$store.commit(COMMIT_TYPES.SET_TOKEN, null);
				if (window.localStorage) {
					window.localStorage.setItem(LOCAL_STORAGE_KEYS.USER, null)
					window.localStorage.setItem(LOCAL_STORAGE_KEYS.TOKEN, null)
				}
				this.$router.push('/login')
			},
			hideCovidBannerEvent() {
				window.localStorage.setItem(COVIDBANNER, true);
				this.hideCovidBanner = true;
			},
			hideDevBannerEvent() {
				window.localStorage.setItem(DEVBANNER, true);
				this.hideDevBanner = true;
			},
			resetBanner() {
				window.localStorage.removeItem(COVIDBANNER);
				window.localStorage.removeItem(DEVBANNER);
				this.hideCovidBanner = false;
				this.hideDevBanner = false;
			}

		}
	}
</script>
<style lang="scss">
    #app {
        .notification {
            border-radius: 0 !important;
            margin: 0;

            padding: 2px;
            position: relative;

            &:first-child {
                margin-bottom: 2px;
            }

            .notification-dismiss {
                position: absolute;
                right: 10px;
                cursor: pointer;
            }

        }
    }
</style>
