<template>
    <!--Stats cards-->
    <div v-if="!loading">
        <div class="card">
            <form v-on:submit.prevent="onSubmit">
                <fg-input type="hidden"
                          v-model="classSchool._id">
                </fg-input>
                <div class="col-md-4">
                    <fg-input type="text"
                              :label="$t('dashboard.classes.list.create_new')"
                              :placeholder="$t('dashboard.classes.list.create.name')"
                              v-model="classSchool.name">
                    </fg-input>
                </div>
                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="text-center">
                        <button type="submit" :disabled="creatingNew || !(classSchool.name.length > 2)"
                                class="btn btn-info btn-fill btn-wd">
                            {{$t('dashboard.editClassForm.save')}}
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="card">
            <div v-if="!refreshList">
                <div v-if="info.data.length">
                    <paper-table :editUrl="'/dashboard/t/classes/'"
                                 :editLink="true"
                                 :idKey="'_id'"
                                 :title="info.title"
                                 :sub-title="info.subTitle"
                                 :data="info.data"
                                 :columns="info.columns">

                    </paper-table>
                    <div v-for="item in info.data" v-bind:key="item.id" class="badge">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="text-center">
                    <span class="ti-home"></span>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        Loading ...
    </div>
</template>
<script>
	import api from '../../../../api/teacher/teacherClass'
	import PaperTable from '../../../UIComponents/PaperTable.vue'

	export default {
		components: {
			PaperTable
		},
		data() {
			return {
				classExists: false,
				creatingNew: false,
				info: {
					title: this.$t('dashboard.classes.list.table_name'),
					columns: [
						{id: "name", label: this.$t('dashboard.classes.list.table.header.name')},
						{id: "tags", label: this.$t('dashboard.classes.list.table.header.tags')},
						{id: "description", label: this.$t('dashboard.classes.list.table.header.description')},
						{id: "createdAt", label: this.$t('dashboard.classes.list.table.header.created_at')},
						{id: "updatedAt", label: this.$t('dashboard.classes.list.table.header.updated_at')},
					],
					data: []
				},
				brand: null,
				loading: true,
				refreshList: false,
				classSchool: {
					name: '',
					description: '',
					tags: []
				}
			}
		},
		methods: {
			loadList() {
				this.refreshList = true;
				this.loading = true;
				api.list().then((response) => {
					response = response.data;
					if (response && response.ok) {
						this.classExists = true;
						//
						this.info.data = response.data;
					}
				}).catch(err => {
					console.log(err);
                  // eslint-disable-next-line no-unused-vars
				}).finally(r => {
					this.$data.refreshList = false;
					this.$data.loading = false;
				})
			},
			onSubmit() {
				let data = JSON.parse(JSON.stringify(this.$data.product));
				api.create(data)
				// eslint-disable-next-line no-unused-vars
						.then((res) => {
							this.loadList();

							// eslint-disable-next-line no-unused-vars
						}).catch((err) => {
				}).finally(() => {
					this.creatingNew = false;
				})
			}
		},
		mounted() {
			this.loadList();
		}
	}

</script>
<style>

</style>
