<template>
    <div class="is-flex radio-container">
        <label v-for="item in values" class="has-text-left label" v-bind:key="item.value|| item">
            {{item.label || item}}
            <input class="radio"
                   type="radio"
                   :name="name"
                   v-bind="$attrs"
                   :value="item.value || item"
                   @input="updateValue($event.target.value)"
                   v-on:input="model=$event.target.value">
        </label>

    </div>
</template>
<script>
	export default {
		inheritAttrs: false,
		props: {
			values: Array,
			name: String
		},
		methods: {
			updateValue(value) {
				this.$emit('input', String(value))
			}
		}
	}
</script>
<style lang="scss">
    .radio-container {
        label {
            margin-right: 14px;
        }

        .radio {
            all: revert;
        }
    }
</style>
