<template>
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <edit-class-form>
            </edit-class-form>
        </div>
    </div>
</template>
<script>
	import EditClassForm from './UserProfile/EditClassForm.vue'
	import BrandCard from './UserProfile/BrandCard.vue'

	export default {
		components: {
			EditClassForm,
			BrandCard
		}
	}

</script>
<style>

</style>
