<template>
    <div class="container">

        <!--Stats cards-->
        <div>
            <router-link v-bind:to="'/dashboard/t/classes/new'">{{ $t('dashboard.overview.create_class') }}
            </router-link>
        </div>

        <div class="app-onboarding">

        </div>
    </div>
</template>
<script>
	import StatsCard from './../../../components/UIComponents/Cards/StatsCard.vue'
	import ChartCard from './../../../components/UIComponents/Cards/ChartCard.vue'
	import api from '../../../api/teacher/teacherSchool.js'

	export default {
		components: {
			StatsCard,
			ChartCard
		},
		/**
		 * Chart data used to render stats, charts. Should be replaced with server data
		 */
		data() {
			return {
				brandExists: false,
				loading: true,
				activityChart: {},
				statsCards: {}
			}
		},
		mounted() {
			api.info().then((response) => {
				response = response.data;
				if (response && response.ok) {
					this.$data.brandExists = true;
					//
					this.$data.activityChart = {
						data: {
							labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
							series: [
								[542, 543, 520, 680, 653, 753, 326, 434, 568, 610, 756, 895],
								[230, 293, 380, 480, 503, 553, 600, 664, 698, 710, 736, 795]
							]
						},
						options: {
							seriesBarDistance: 10,
							axisX: {
								showGrid: false
							},
							height: '245px'
						}
					}
					//
					this.$data.statsCards = [
						{
							type: 'warning',
							icon: 'ti-server',
							title: 'Capacity',
							value: '105GB',
							footerText: 'Updated now',
							footerIcon: 'ti-reload'
						},
						{
							type: 'success',
							icon: 'ti-wallet',
							title: 'Revenue',
							value: '$1,345',
							footerText: 'Last day',
							footerIcon: 'ti-calendar'
						},
						{
							type: 'danger',
							icon: 'ti-pulse',
							title: 'Errors',
							value: '23',
							footerText: 'In the last hour',
							footerIcon: 'ti-timer'
						},
						{
							type: 'info',
							icon: 'ti-twitter-alt',
							title: 'Followers',
							value: '+45',
							footerText: 'Updated now',
							footerIcon: 'ti-reload'
						}
					];
				}
			}).catch(err => {
				console.log(err);
              // eslint-disable-next-line no-unused-vars
			}).finally(r => {
				this.$data.loading = false;
			})
		}
	}

</script>
<style lang="scss">
    .container {

    }
    .app-onboarding {
        height: 246px;
        background: red;
    }
</style>
