<template>
    <div>
        <div v-if="dataLoaded">

            <div class="card">
                <div class="header">
                    <div class="pull-right">
                        <form v-on:submit.prevent="onLaunch" v-if="product && !product.isLaunched">
                            <button type="submit" class="btn btn-danger btn-fill btn-wd" :disabled="loadingLaunch">
                                {{$t('dashboard.classes.edit.launch')}}
                            </button>
                        </form>
                    </div>
                    <h4 class="title">{{$t('dashboard.classes.edit.title')}}
                        <i class="ti-bolt" v-if="product && product.isLaunched"></i>
                    </h4>
                </div>
                <div class="content">
                    <form v-on:submit.prevent="onSubmit">
                        <fg-input type="hidden"
                                  value="brand._id"
                                  v-model="product._id">
                        </fg-input>
                        <div class="row">
                            <div class="col-md-12">
                                <fg-input type="text"
                                          :label="$t('dashboard.classes.edit.form.name')"
                                          :placeholder="$t('dashboard.classes.edit.form.name')"
                                          v-model="product.name">
                                </fg-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{$t('dashboard.classes.edit.form.description')}}</label>
                                    <textarea rows="5"
                                              class="form-control border-input"
                                              :placeholder="$t('dashboard.classes.edit.form.description')"
                                              v-model="product.description">

                            </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd"
                                    :disabled="product.isLaunched || saving">
                                {{$t('dashboard.editClassForm.save')}}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </form>


                </div>
            </div>
            <div>
                <products-images>

                </products-images>
            </div>
        </div>
        <div class="textc-center" v-else>
            <i class="ti-loading"></i>
        </div>
    </div>
</template>
<script>

    import api from '../../../../api/teacher/teacherClass.js'
    import ProductsImages from './ProductImages.vue'

    export default {
        components: {
            ProductsImages
        },
        data() {
            return {
                loadingLaunch: false,
                dataLoaded: false,
                saving: false,
                product: {
                    name: '',
                    description: null,
                    _id: '',
                    tags: null,
                    isLaunched: false
                }
            }
        },
        mounted() {
            this.loadInfo();

        },
        methods: {
            loadInfo() {
                api.info(this.$route.params.id)
                    .then(
                        response => {
                            let data = response.data;
                            let brand = data.product;
                            this.$data.product = Object.assign({}, this.$data.product, brand);
                            this.$data.dataLoaded = true;
                        }
                    )
                    .catch(
                        (error) => {

                        });
            },
            onSubmit() {
                this.saving = true;
                let data = JSON.parse(JSON.stringify(this.$data.product));
                data.tags = data.tags.join('#');
                api.create(data)
                    .then((res) => {
                        console.log(res);
                        this.loadList();

                    }).catch((err) => {
                    console.log(err);
                }).finally(() => {
                    this.saving = false;
                })
            },
            /**
             *
             */
            onLaunch() {
                this.$data.loadingLaunch = true;
                api.launch(this.$route.params.id)
                    .then((res) => {
                        if (res.data.ok) {
                            this.$data.product.isLaunched = true;
                        }
                    }).catch((err) => {
                    console.log(err);
                }).finally(() => {
                    this.$data.loadingLaunch = false;
                })
            }
        }
    }

</script>
