<template>
    <!--Stats cards-->
    <div v-if="!loading">
        <div class="box no-shadow">
            <div v-if="!refreshList">
                <h2 class="title is-6">{{$t('admin.accounts.list.title')}}</h2>
                <div v-if="info.data.length">
                    <paper-table :editUrl="'/admin/account/'"
                                 :editLink="true"
                                 :idKey="'_id'"
                                 :title="info.title"
                                 :sub-title="info.subTitle"
                                 :data="info.data"
                                 :columns="info.columns">

                    </paper-table>

                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="has-text-centered">
            <app-loader></app-loader>
        </div>
    </div>
</template>
<script>
	import api from '../../../../api/admin/accounts.js'
	import PaperTable from '../../../UIComponents/PaperTable.vue'

	export default {
		components: {
			PaperTable
		},
		data() {
			return {
				classExists: false,
				creatingNew: false,
				info: {
					title: this.$t('admin.accounts.list.title'),
					columns: [
						{id: "email", label: this.$t('admin.accounts.list.table.header.email')},
						{id: "accountType", label: this.$t('admin.accounts.list.table.header.role')},
					],
					data: []
				},
				brand: null,
				loading: true,
				refreshList: false
			}
		},
		methods: {
			loadList() {
				this.refreshList = true;
				this.loading = true;
				api.list().then((response) => {
					response = response.data;
					if (response && response.ok) {
						this.info.data = response.data;
					}
				}).catch(err => {
					console.log(err);
				}).finally(() => {
					this.refreshList = false;
					this.loading = false;
				})
			}
		},
		mounted() {
			this.loadList();
		}
	}

</script>
<style>
</style>
